<div class="row">
  <div class="col col-lg-4">
    <autocomplete [dataList]="attendanceOptions"
                  [label]="'Attendance Type'"
                  (change)="showAttendance($event)"
                  [key]="'type'"
                  [allowSearch]="'false'">

    </autocomplete>
  </div>
</div>
<router-outlet></router-outlet>

