<div class="left_col scroll-view">
  <div class="navbar nav_title">
    <a href="javascript:" class="site_title">
      <img class="img-responsive" src="../images/logo.png" alt=""/>
    </a>
  </div>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li [ngClass]="{'active' : menu.isActive}" *ngFor="let menu of sideMenus; let p = index" (click)="changeActive(menu)">
          <a> <i class="{{menu.icon}}"></i><span>{{menu.title}}</span></a>
          <ul class="nav child_menu"  *ngFor="let subItem of menu.subMenu; let i = index">
            <li class="current-page" [ngClass]="{'active' : subItem.title == currentSubMenu.title}" (click)="changeActive(subItem, p, i);$event.stopPropagation()"><a href="javascript:void(0)">{{subItem.title}}</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->
</div>

