<div class="profilePictureWrap">
  <a href="javascript:">
    <img [src]="profileImage" class="img-responsive" alt="">

    <div *ngIf="isEdit" class="overlayImgEdit" [ngClass]="{'visibleOverlay': isLoader}">
      <div *ngIf="!isLoader">
        <i class="icon-camera" data-toggle="modal" data-target="#myModal"></i>
        <i class="icon-delete red" (click)="removeUploadedImage()" *ngIf="profileImage != defaultImage"></i>
      </div>
      <div class="spinner" *ngIf="isLoader">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </a>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
      </div>
      <div class="modal-body">
        <div class="deleteRecentImage" [hidden]="!data.image">
          <span>Delete Image</span>
          <i class="icon-delete red" [hidden]="!data.image" (click)="data = {}"></i>
        </div>

        <div class="mainUploadWrapper" [hidden]="data.image">
          <div class="dragDropWrapper" fileDrop
               [ngClass]="{'file-over': hasBaseDropZoneOver}"
               (onFileDrop)="fileChangeListener($event)"
               (fileOver)="fileOverBase($event)">
            <div>
              <span>{{uploadFileName}}</span>
              <i class="icon-delete red" *ngIf="uploadFileName" (click)="uploadFileName = null"></i>
            </div>
          </div>
          <div class="verCenter">
            <h4><strong>Drag & Drop</strong> Your <strong>Image</strong> here or</h4>

            <div class="uploadBtn">
              <input class="btn btn-primary" type="file" (change)="fileChangeListener($event)">
              <span class="btn btn-primary">Choose File</span>
            </div>
          </div>
        </div>
        <div [hidden]="!data.image">
          <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
          <div class="result rounded" *ngIf="data.image" >
            <span>Preview of Image</span>
            <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!data.image" (click)="uploadProfileImage()" data-dismiss="modal">Save changes
        </button>
      </div>
    </div>
  </div>
</div>
