<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>Add / Edit New Timetable</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">New Timetable</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="class">Class</label>
        <select name="" id="class" class="form-control">
          <option>Prep-A</option>
          <option>Prep-B</option>
          <option>1-A</option>
          <option>1-B</option>
          <option>2-A</option>
          <option>2-B</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="timeduration">Time duration</label>
        <select name="" id="timeduration" class="form-control">
          <option>30 min</option>
          <option selected>45 min</option>
          <option>1 hour</option>
          <option>1:15 hour</option>
          <option>1:30 hour</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="startime">Start Time</label>
        <select name="" id="startime" class="form-control">
          <option>8 a.m</option>
          <option>9 a.m</option>
          <option>10 a.m</option>
          <option>11 a.m</option>
          <option>12 p.m</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="endtime">End Time</label>
        <select name="" id="endtime" class="form-control">
          <option>12 p.m</option>
          <option>1 p.m</option>
          <option>2 p.m</option>
          <option>3 p.m</option>
        </select>
      </div>
    </div>
  </div>
  <div class="table-responsive timetableEditAdd">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>8:00 a.m</td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>8:45 a.m</td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>9:30 a.m</td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option>Urdu</option>
            <option>English</option>
            <option>Maths</option>
            <option>Physics</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-group">
    <button class="btn btn-danger">Cancel</button>
    <button class="btn btn-success" type="submit">Save</button>
  </div>
</div>
<hr>
<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>Time Table of Class 5</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">Time Table of Class 5</li>
    </ol>
  </div>
  <div class="table-responsive timetableView">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>8:00 a.m</td>
        <td class="language">
          <span>
            <span>Urdu</span>
          </span>
        </td>
        <td class="science">
          <span>
            <span>Physics</span>
          </span>
        </td>
        <td class="history">
          <span>
            <span>Social Studies</span>
          </span>
        </td>
        <td class="socialScience">
          <span>
            <span>Statistics</span>
          </span>
        </td>
        <td class="artsAndPlay">
          <span>
            <span>Arts</span>
          </span>
        </td>
      </tr>
      <tr>
        <td>9:00 a.m</td>
        <td class="artsAndPlay">
          <span>
            <span>Play Time</span>
          </span>
        </td>
        <td class="history">
          <span>
            <span>History</span>
          </span>
        </td>
        <td class="language">
          <span>
            <span>English</span>
          </span>
        </td>
        <td class="science">
          <span>
            <span>Chemistry</span>
          </span>
        </td>
        <td class="socialScience">
          <span>
            <span>Economics</span>
          </span>
        </td>
      </tr>
      <tr>
        <td>10:00 a.m</td>
        <td class="language">
          <span>
            <span>English</span>
          </span>
        </td>
        <td class="history">
          <span>
            <span>Pakistan Studies</span>
          </span>
        </td>
        <td class="science">
          <span>
            <span>Biology</span>
          </span>
        </td>
        <td class="language">
          <span>
            <span>Islamiat</span>
          </span>
        </td>
        <td class="socialScience">
          <span>
            <span>Finance</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="breakHelper">11:00 a.m</td>
        <td class="break">Break</td>
        <td class="breakHelper"></td>
        <td class="breakHelper"></td>
        <td class="breakHelper"></td>
        <td class="breakHelper"></td>
      </tr>
      <tr>
        <td>12:00 p.m</td>
        <td class="science">
          <span>
            <span>Computer Science</span>
          </span>
        </td>
        <td class="artsAndPlay">
          <span>
            <span>Visual Arts</span>
          </span>
        </td>
        <td class="history">
          <span>
            <span>Pakistan Studies</span>
          </span>
        </td>
        <td class="socialScience">
          <span>
            <span>Business</span>
          </span>
        </td>
        <td class="language">
          <span>
            <span>Urdu</span>
          </span>
        </td>
      </tr>
      <tr>
        <td>1:00 p.m</td>
        <td class="artsAndPlay">
          <span>
            <span>Play Time</span>
          </span>
        </td>
        <td class="history">
          <span>
            <span>History</span>
          </span>
        </td>
        <td class="language">
          <span>
            <span>English</span>
          </span>
        </td>
        <td class="science">
          <span>
            <span>Maths</span>
          </span>
        </td>
        <td class="socialScience">
          <span>
            <span>Economics</span>
          </span>
        </td>
      </tr>
      <tr>
        <td>2:00 p.m</td>
        <td class="language">
          <span>
            <span>Urdu</span>
          </span>
        </td>
        <td class="science">
          <span>
            <span>Physics</span>
          </span>
        </td>
        <td class="history">
          <span>
            <span>Social Studies</span>
          </span>
        </td>
        <td class="socialScience">
          <span>
            <span>Statistics</span>
          </span>
        </td>
        <td class="artsAndPlay">
          <span>
            <span>Arts</span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
