<!-- top navigation -->
<div class="top_nav clearfix">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle" data-toggle="collapse" data-target="#main-sidebar">
        <a href="javascript:"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:" class="user-profile dropdown-toggle" data-toggle="dropdown"
             aria-expanded="false">
            <img src="../images/profile.jpg" alt="">John Doe
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu">
            <li><a href="javascript:"><i class="icon-user"></i> Profile</a></li>
            <li><a href="javascript:"><i class="icon-help"></i> Help</a></li>
            <li (click)="logout()"><a><i class="icon-logout"></i> Log Out</a></li>
          </ul>
        </li>
        <li class="notifications">
          <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown"
             aria-expanded="false">
            <i class="icon-bell"><span>3</span></i>
          </a>
          <div class="notifyBox">
            <h3>Notifications <span>3</span></h3>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:">
                  <i class="icon-message"></i>
                  <span><strong>Miss Fatima</strong> send you a new message.</span>
                </a>
              </li>
              <li>
                <a href="javascript:">
                  <i class="icon-assignment"></i>
                  <span><strong>New Assignment</strong> of Arts have been given to 7 class.</span>
                </a>
              </li>
              <li>
                <a href="javascript:">
                  <i class="icon-attachment"></i>
                  <span><strong>New Attachment</strong>has been added to homework diary.</span>
                </a>
              </li>
              <li>
                <a href="javascript:">
                  <i class="icon-timetable"></i>
                  <span><strong>Timetable</strong> updated for class 2.</span>
                </a>
              </li>
              <li>
                <a href="javascript:">
                  <i class="icon-test"></i>
                  <span><strong>English test</strong> added to homework diary.</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- /top navigation -->
