<div [ngBusy]="busy"></div>
<form class="teacherFormWrap" #teacherForm="ngForm" (ngSubmit)="editTeacher(teacherForm.valid)" novalidate>
  <div class="borderWrapper">
    <div class="pageTitle">
      <h2><span>Teacher Detail</span></h2>
      <ol class="breadcrumb">
        <li><a href="javascript:">Dashboard</a></li>
        <li class="active">All Teachers</li>
      </ol>
    </div>
    <div [ngClass]="{'viewProfileInfoWrap' : !isEdit}">
      <h3 class="clearfix">
        <span>Teacher Information</span>
        <button class="btn btn-primary pull-right" (click)="isEdit=true" *ngIf="!isEdit">Edit</button>
        <input type="button" class="btn btn-danger pull-right" (click)="deActivate()" *ngIf="isEdit" value="DeActivate">
      </h3>
      <hr>
      <div class="generWithProfile">
        <app-image-upload [(profileImage)]="profileImg" (change)="updateImage($event)" [isEdit]="isEdit">
        </app-image-upload>
        <div class="generForm" *ngIf="showData">
          <div class="clearfix">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Name</label>
                <span *ngIf="!isEdit">{{teacherData.fullName}}</span>
                <div *ngIf="isEdit">
                  <input type="text" class="form-control" #fullName="ngModel" name="fullName"
                    [(ngModel)]="editTeacherData.fullName" required>
                  <small class="text-danger" [hidden]="fullName.valid || (fullName.pristine && !teacherForm.submitted)">
                    Name is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Email</label>
                <span *ngIf="!isEdit">{{teacherData.email}}</span>
                <div *ngIf="isEdit">
                  <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="editTeacherData.email"
                   required>
                  <small class="text-danger" [hidden]="email.valid || (email.pristine && !teacherForm.submitted)">
                    Email is required.
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Birth Date</label>
                <span *ngIf="!isEdit">{{teacherData.birthDate}}</span>
                <datetime [datepicker]="birthDatePickerOpts" [timepicker]="false" *ngIf="isEdit"
                  [(ngModel)]="editTeacherData.birthDate" (ngModelChange)="validateStart($event)" name="birthDate">
                </datetime>
                <small class="text-danger" [hidden]="editTeacherData.birthDate || !teacherForm.submitted">
                  Date Of Birth is required.
                </small>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Joining Date</label>
                <span *ngIf="!isEdit">{{teacherData.joinDate}}</span>
                <datetime [datepicker]="joinDatePickerOpts" [timepicker]="false" *ngIf="isEdit"
                  [(ngModel)]="editTeacherData.joinDate" name="joinDate" (ngModelChange)="validateEnd($event)">
                </datetime>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Qualification</label>
                <span *ngIf="!isEdit">{{teacherData.qualification}}</span>
                <div *ngIf="isEdit">
                  <input type="text" class="form-control" name="qualification"
                    [(ngModel)]="editTeacherData.qualification">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>BloodGroup</label>
                <span *ngIf="!isEdit">{{teacherData.bloodGroup}}</span>
                <autocomplete *ngIf="isEdit" [dataList]="bloodGroups" [key]="'type'" label="Blood Groups"
                  (change)="updateBloodGroup($event)" [bind]="selectedBloodGroup"></autocomplete>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Religion</label>
                <span *ngIf="!isEdit">{{teacherData.religion}}</span>
                <input type="text" class="form-control" name="religion" [(ngModel)]="editTeacherData.religion"
                  *ngIf="isEdit">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Nationality</label>
                <span *ngIf="!isEdit">{{teacherData.nationality}}</span>
                <input type="text" class="form-control" name="nationality" [(ngModel)]="editTeacherData.nationality"
                  *ngIf="isEdit">
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>CNIC</label>
                <span *ngIf="!isEdit">{{teacherData.cnic}}</span>
                <input type="text" class="form-control" [textMask]="{mask: mask}" name="cnic" #cnic="ngModel"
                  [(ngModel)]="editTeacherData.cnic" *ngIf="isEdit" required>
                <small class="text-danger" [hidden]="editTeacherData.cnic || !teacherForm.submitted">
                  CNIC is required.
                </small>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Gender</label>
                <span *ngIf="!isEdit">{{teacherData.gender}}</span>
                <div>
                  <div class="radioCheckWrap inlineMiddle" *ngIf="isEdit">
                    <div>
                      <input type="radio" id="maleStudent" #gender="ngModel" name="rb" value="M"
                        [(ngModel)]="editTeacherData.gender" required>
                      <label for="maleStudent"><span>Male</span></label>
                      <input type="radio" id="femaleStudent" name="rb" #gender="ngModel" value="F"
                        [(ngModel)]="editTeacherData.gender" required>
                      <label for="femaleStudent"><span>Female</span></label>
                    </div>
                    <small class="text-danger" [hidden]="gender.valid || (gender.pristine && !teacherForm.submitted)">
                      Gender is required.
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Address</label>
                <span *ngIf="!isEdit">{{teacherData.address}}</span>
                <div *ngIf="isEdit">
                  <input type="text" class="form-control" #address="ngModel" name="address"
                    [(ngModel)]="editTeacherData.address" required>
                  <small class="text-danger" [hidden]="address.valid || (address.pristine && !teacherForm.submitted)">
                    Address is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Phone</label>
                <span *ngIf="!isEdit">{{teacherData.phone}}</span>
                <input type="number" class="form-control" name="phone" [(ngModel)]="editTeacherData.phone"
                  *ngIf="isEdit">
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Mobile</label>
                <span *ngIf="!isEdit">{{teacherData.cell}}</span>
                <div *ngIf="isEdit">
                  <input type="text" class="form-control" #cell="ngModel" name="cell" [(ngModel)]="editTeacherData.cell"
                    required>
                  <small class="text-danger" [hidden]="cell.valid || (cell.pristine && !teacherForm.submitted)">
                    Mobile No. is required.
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn btn-danger" (click)="isEdit = false" *ngIf="isEdit">Cancel</button>
            <button class="btn btn-success" *ngIf="isEdit" type="submit">{{submitType}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>