<div class="borderWrapper">
  <div class="pageTitle">
    <h2>
      <span>Diary</span>
      <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addDiary">Add New Diary <i class="fa fa-plus vMiddle"></i></button>
    </h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">Diary</li>
    </ol>
  </div>
  <div class="activityDay">
    <h3>
      <span>Today<strong>September 8</strong></span>
    </h3>
    <div class="adDetails">
      <ul>
        <li>
          <div class="userProf">
            <i class="icon-homework"></i>
            <h4>English <small>Miss Fatima</small></h4>
          </div>
          <div class="message">
            <p> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo</span>
            </p>
          </div>
        </li>
        <li>
          <div class="userProf">
            <i class="icon-assignment"></i>
            <h4>Physics <small>Sir Shoaib</small></h4>
          </div>
          <div class="message">
            <p> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo</span>
            </p>
          </div>
        </li>
        <li>
          <div class="userProf">
            <i class="icon-test"></i>
            <h4>Urdu <small>Miss Mumtaz</small></h4>
          </div>
          <div class="message">
            <p> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="activityDay">
    <h3>
      <span>Yesterday<strong>September 7</strong></span>
    </h3>
    <div class="adDetails">
      <ul>
        <li>
          <div class="userProf">
            <i class="icon-homework"></i>
            <h4>Maths <small>Sir Khaild</small></h4>
          </div>
          <div class="message">
            <p> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addDiary" tabindex="-1" role="dialog" aria-labelledby="addDiary">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Diary</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Classroom</label>
              <select class="form-control">
                <option>Class 1</option>
                <option>Class 2</option>
                <option>Class 3</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Course</label>
              <select class="form-control">
                <option>English</option>
                <option>Maths</option>
                <option>Physics</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Select Homework Type</label>
              <select class="form-control">
                <option>Test</option>
                <option>Reading Material</option>
                <option>Class Activity</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
