<div class="acDropWrap">
    <div class="form-control" (click)="show()" >
      {{selectedItem}}
      <small *ngIf="!selectedItem">Please click to search {{label}}</small>
      <span class="fa fa-times" (click)="clearItem($event)" *ngIf="selectedItem && allowClear"></span>
      <span class="caret" ></span>
    </div>
    <small class="text-danger" *ngIf="formValidator ? (!formValidator.controls['autoComplete'].valid && formValidator.get('autoComplete').touched) : false ">{{label}} is required.</small>
  <div  class="dropdown" *ngIf="showAutocomplete">
    <input type="text" name="search" class="form-control" [ngClass]="{'loading': isLoader}" [(ngModel)]="query.name" (keyup)="filter()" *ngIf="isSearch"/>
    <ul *ngIf="filteredList.length > 0">
      <li *ngFor="let item of filteredList">
        <a (click)="select(item)">{{item[key]}}</a>
      </li>
    </ul>
  </div>
</div>
