<div class="borderWrapper">
  <div [ngBusy]="busy"></div>
  <div class="pageTitle">
    <h2>
      <span>All Classes</span>
      <button class="btn btn-primary pull-right" (click)="addClass()">Add Class</button>
    </h2>
  </div>
  <!-- <div class="btn-group">
    <button class="btn btn-primary" (click)="addClass()">Add Class</button>
  </div> -->
  <div class="classCardsWrapper">
    <ul *ngIf="allClasses" class="clearfix">
      <li *ngFor="let classData of allClasses">
        <div>
          <h2>{{classData.class}}</h2>
          <div class="classDetails">
            <div class="clearfix">
              <label>Teachers</label>
              <span>{{classData.teachersAssigned}}</span>
            </div>
            <div class="clearfix">
              <label>Students</label>
              <span>{{classData.studentEnrolled}}</span>
            </div>
            <div class="clearfix">
              <label>Sections</label>
              <span>{{classData.sections}}</span>
            </div>
            <div class="clearfix">
              <label>Subjects</label>
              <span>{{classData.coursesAssigned}}</span>
            </div>
          </div>
          <div class="totalSec">
          <span *ngFor="let sectionData of classData.classList">
            <a (click)="classDetail(sectionData.classroomId)">Section {{sectionData.section}}</a>
          </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
