<div [ngBusy]="busy"></div>
<form class="parentFormWrap" #parentForm="ngForm" (ngSubmit)="editParent(parentForm.valid)" novalidate>
  <div class="borderWrapper">
    <div class="pageTitle">
      <h2>
        <span>Parent Detail</span>
      </h2>
      <ol class="breadcrumb">
        <li>
          <a href="javascript:">Dashboard</a>
        </li>
        <li class="active">Parent Detail</li>
      </ol>
    </div>

    <div [ngClass]="{'viewProfileInfoWrap' : !isEdit}">
      <h3>
        <span>Parent Information</span>
        <button class="btn btn-primary pull-right" (click)="isEdit=true" *ngIf="!isEdit">Edit</button>
      </h3>
      <hr>
      <div class="generWithProfile" *ngIf="showData">
        <div class="generFormParent" *ngIf="showData">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Name</label>
                <span *ngIf="!isEdit">{{parentData.fullName}}</span>
                <div *ngIf="isEdit">
                  <input type="text" class="form-control" #fullName="ngModel" name="fullName" [(ngModel)]="editParentData.fullName" required>
                  <small class="text-danger" [hidden]="fullName.valid || (fullName.pristine && !parentForm.submitted)">
                    first name is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Gender</label>
                <span *ngIf="!isEdit">{{teacherData.gender}}</span>
                <div>
                  <div class="radioCheckWrap inlineMiddle" *ngIf="isEdit">
                    <div>
                      <input type="radio" id="maleStudent" #gender="ngModel" name="rb" value="M"
                        [(ngModel)]="editParentData.gender" required>
                      <label for="maleStudent"><span>Male</span></label>
                      <input type="radio" id="femaleStudent" name="rb" #gender="ngModel" value="F"
                        [(ngModel)]="editParentData.gender" required>
                      <label for="femaleStudent"><span>Female</span></label>
                    </div>
                    <small class="text-danger" [hidden]="gender.valid || (gender.pristine && !parentForm.submitted)">
                      Gender is required.
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Address</label>
                <span *ngIf="!isEdit">{{teacherData.address}}</span>
                <div *ngIf="isEdit">
                  <input type="text" class="form-control" #address="ngModel" name="address"
                    [(ngModel)]="editParentData.address" required>
                  <small class="text-danger" [hidden]="address.valid || (address.pristine && !parentForm.submitted)">
                    Address is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>CNIC</label>
                <span *ngIf="!isEdit">{{teacherData.cnic}}</span>
                <input type="text" class="form-control" [textMask]="{mask: mask}" name="cnic" #cnic="ngModel"
                  [(ngModel)]="editParentData.cnic" *ngIf="isEdit" required>
                <small class="text-danger" [hidden]="editParentData.cnic || !parentForm.submitted">
                  CNIC is required.
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Phone</label>
                <span *ngIf="!isEdit">{{parentData.phone}}</span>
                <input type="number" class="form-control" name="phone" [(ngModel)]="editParentData.phone" *ngIf="isEdit">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Mobile</label>
                <span *ngIf="!isEdit">{{teacherData.cell}}</span>
                <div *ngIf="isEdit">
                  <input type="text" class="form-control" #cell="ngModel" name="cell" [(ngModel)]="editParentData.cell"
                    required>
                  <small class="text-danger" [hidden]="cell.valid || (cell.pristine && !parentForm.submitted)">
                    Mobile No. is required.
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Email</label>
                <span *ngIf="!isEdit">{{parentData.email}}</span>
                <input type="email" class="form-control" name="email" [(ngModel)]="editParentData.email" *ngIf="isEdit">
              </div>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn btn-danger" (click)="isEdit = false" *ngIf="isEdit">Cancel</button>
            <button class="btn btn-success" *ngIf="isEdit" type="submit">{{submitType}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="student-card-wrapper" *ngIf="parentData && parentData.students">
  <div class="student-card" *ngFor="let item of parentData.students">
    <div class="profile-wrapper">
      <img [src]="item.picture" alt="">
    </div>
    <h2>{{item.fullName}}
      <span>GR #: {{item.grNo}}</span>
    </h2>
    <div class="sc-detail">
      <p>
        <b>Roll #:</b>
        <span>{{item.rollNo}}</span>
      </p>
      <p>
        <b>Class:</b>
        <span>{{item.classroomName}}</span>
      </p>
      <p>
        <b>Gender:</b>
        <span>{{item.gender}}</span>
      </p>
    </div>
  </div>
</div>