@import '../../../styles/partials/variables';

.student-card {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 3px;
    width: 20%;
    text-align: center;
    color: $mineShaft;
    .profile-wrapper {
        position: relative;
        width: 100%;
        height: 150px;
        border-radius: 3px;
        overflow: hidden;
        &:before {
            content: '';
            background: $pacificBlue;
            height: 100px;
            width: 100%;
            display: block;
            position: absolute;
        }
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: 50px;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }
    .sc-detail {
        width: 100%;
        text-align: center;
        p {
            font-size: 14px;
        }
    }
    h2 {
        font-weight: normal;
        font-size: 22px;
        width: 100%;
        color: $blueGray;
        span {
            font-weight: 300;
            text-transform: uppercase;
            font-family: $primaryFont;
            display: block;
            margin-top: 5px;
            font-size: 16px;
        }
    }
}

.student-card-wrapper {
    margin-top: 25px;
}