<div [ngBusy]="busy"></div>
<div class="classDetailWrapper" *ngIf="classroomData || isEdit">
  <div class="pageTitle" *ngIf="classroomData">
    <h2>
      <span>{{classroomData.classroomName}}</span>
    </h2>
  </div>
  <div>
    <button class="btn btn-primary" *ngIf="!isEdit" (click)="isEdit = true">Edit</button>
    <div class="btn-group" *ngIf="isEdit">
      <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
      <button class="btn btn-success" type="submit" (click)="udpateClassroom()">Save</button>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-4" *ngIf="isEdit && !this.classroomID">
        <div class="form-group">
          <label>Class</label>
          <autocomplete [bind]="" [dataList]="classList" [label]="'Class'" (change)="updateClass($event)" [key]="'name'">
          </autocomplete>
        </div>
      </div>
      <div class="col-md-4" *ngIf="isEdit && !this.classroomID">
        <div class="form-group">
          <label>Section</label>
          <autocomplete [bind]="" [dataList]="sectionList" [label]="'Section'" (change)="updateSection($event)" [key]="'title'">
          </autocomplete>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Class Teacher</label>
          <span *ngIf="!isEdit">{{selectedClassTeacher.name}}</span>
          <autocomplete *ngIf="isEdit" [bind]="selectedClassTeacher" [dataList]="teachers" [label]="'Teachers'" (change)="updateClassTeacher($event)"
                        [key]="'text'">
          </autocomplete>
        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- <h3>Assigned Teachers</h3> -->
    <div class="row" *ngIf="isEdit">
      <div class="col-lg-4">
        <label>Add Teacher</label>
        <autocomplete [bind]="selectedTeacherID" [dataList]="teachers" [label]="'Teachers'" (change)="updateTeacher($event)"
                      [key]="'text'">

        </autocomplete>
      </div>
      <div class="col-lg-4">
        <label>Assign Course</label>
        <autocomplete  (change)="updateCourse($event)" [bind]="selectedCourseID" [dataList]="courseList" [label]="'Courses'"
                      [key]="'title'">

        </autocomplete>
      </div>
      <div class="col-lg-4">
        <button class="btn btn-primary btn-with-label" [disabled]="!selectedCourseID || !selectedTeacherID" (click)="addCourseTeacher()">ADD
        </button>
      </div>
    </div>
    <div class="table-responsive topSpace">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Teachers Name</th>
          <th>Course</th>
          <th class="action-col">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let classDetail of (isEdit ? editClassroomData.classroomCourses : classroomData.classroomCourses); let i = index">
          <td>{{classDetail.teacherName}}</td>
          <td>{{classDetail.courseName}}</td>
          <td *ngIf="isEdit">
            <a href="javascript:" class="text-danger" (click)="removeCourse(i)"><i class="icon-delete"></i></a>
          </td>
          <td *ngIf="!isEdit">
            <a href="javascript:"><i class="icon-eye primary-color" (click)="profile(classDetail.teacherID, 'teacher')"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr class="dashedSep topSpace">
  <div>
    <h3 class="topSpace">Enrolled Students</h3>
    <div class="row" *ngIf="isEdit">
      <div class="col-lg-4">
        <autocomplete [url]="'student/GetUnenrolledStudents'" [label]="students" (change)="updateSelectedStudent($event)" [key]="'fullName'"></autocomplete>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary right" [disabled]="!selectedStudent" (click)="addStudent()">ADD</button>
      </div>
    </div>
    <div class="topSpace">
      <div class="form-group">
        <input type="text" class="form-control" *ngIf="!isEdit" placeholder="Search Student with GR.NO or Student or Parent Name" (keyup)="filterStudent()"
               [(ngModel)]="studentQuery">
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped attendanceWrap">
          <thead>
          <tr>
            <th>GR.No.</th>
            <th>Students Name</th>
            <th>Guardian</th>
            <th *ngIf="isEdit" class="action-col">Actions</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngIf="!filteredStudents.length">
            <td colspan="4" class="text-danger">No Student Added</td>
          </tr>
          <tr *ngFor="let student of filteredStudents; let i = index">
            <td>{{student.grNo}}</td>
            <td class="col-with-edit">{{student.studentName}}<i class="icon-eye table-txt-icon" (click)="profile(student.studentID, 'student')"></i></td>
            <td class="col-with-edit">{{student.parentName}}<i class="icon-eye table-txt-icon" (click)="profile(student.parentID, 'parent')" *ngIf="student.parentName"></i></td>
            <td *ngIf="isEdit">
              <a href="javascript:" class="text-danger" (click)="removeStudent(i)"><i class="icon-delete"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
