<div class="wrapper100 loginWrapper">
  <div id="main" class="container">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.valid)" class="wpl-track-me" novalidate>
      <img class="img-responsive mainLogo" src="../../../images/logo.png" alt="" />
      <div class="login-username form-group">
        <input type="text"
               class="form-control"
               #username="ngModel"
               name="username"
               [(ngModel)]="user.username"
               placeholder="Username"
               required
               minlength="6">
        <small class="text-danger" [hidden]="username.valid || (username.pristine && !loginForm.submitted)">
          username is required (minimum 5 characters).
        </small>
      </div>

      <div class="login-password form-group">
        <input type="password"
               name="password"
               class="input form-control"
               placeholder="Password"
               [(ngModel)]="user.password"
               #password="ngModel"
               required
               minlength="6">
        <small class="text-danger" [hidden]="password.valid || (password.pristine && !loginForm.submitted)">
          username is required (minimum 5 characters).
        </small>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="login-submit">
            <a><input type="submit"  class="btn btn-primary" value="Login"></a>
          </div>
        </div>
        <div class="col-sm-6 text-right">
          <div class="login-remember">
            <label><input name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember Me</label>
          </div>
          <!-- Additional Markup for Forget pass link -->
          <div>
            <a class="login-forget red" (click)="forgotPassword()" title="Password Lost and Found">Forgot Password.</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
