.classCardsWrapper {
  ul {
    padding: 0;
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    li {
      list-style-type: none;
      min-width: 190px;
      display: inline-block;
      vertical-align: top;
      max-width: 270px;
      margin-bottom: 15px;
      padding: 0 15px;
      width: 25%;
      > div {
        border: 1px solid $silver;
        font-size: 14px;
        border-radius: 4px;
        background: $white;
        color: $nobel - 25;
        min-height: 100%;
      }
      a {
        color: $white;
      }
      h2 {
        background: $jungleGreen;
        color: $white;
        font-family: $secondaryFont;
        margin: 0;
        padding: 15px;
        font-size: 18px;
        font-weight: $fwRegular;
        text-transform: capitalize;
      }
      .classDetails {
        padding: 15px;
        label {
          float: left;
        }
        span {
          float: right;
        }
      }
      .totalSec {
        padding: 15px 13px;
        border-top: 1px solid $silver;
        font-size: 12px;
        color: $white;
        span {
          margin-right: 5px;
          margin-bottom: 5px;
          display: inline-block;
          vertical-align: top;
          border-radius: 4px;
          background: $orient;
          padding: 5px;
          a {
            display: block;
            cursor: pointer;
          }
          &:last-child {
            margin: 0;
          }
          &:nth-child(2) {
            background: $cinnabar;
          }
          &:nth-child(3) {
            background: $mineShaft;
          }
          &:nth-child(4) {
            background: $warning - 25;
          }
          &:nth-child(5) {
            background: $success;
          }
          &:nth-child(6) {
            background: $pacificBlueDark;
          }
        }
      }
    }
  }
  @include Mq(DSM) {
    ul {
      li {
        min-width: 257px;
      }
    }
  }
  @include Mq(XS) {
    ul {
      li {
        margin-right: 0;
        min-width: 257px;
      }
    }
  }
  @include Mq(XXS) {
    ul {
      text-align: center;
      li {
        margin-right: 0;
        min-width: 100%;
        width: 100%;
      }
    }
  }
}

.fullattendanceWrap {
  max-width: 850px;
  margin: 70px auto 0;
  h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    text-transform: uppercase;
    @include Mq(XS){
      font-size: 24px;
    }
    @include Mq(XXS){
      font-size: 20px;
    }
  }
  ul {
    padding: 0;
    font-size: 0;
    li {
      list-style-type: none;
      @extend .inlineMiddle;
      width: calc(100% / 7);
      text-align: center;
      a {
        font-size: 16px;
        font-weight: $fwMedium;
        color: $nobel;
        text-transform: uppercase;
        cursor: default;
        display: block;
        margin: auto;
        @include Mq(XS) {
          font-size: 14px;
        }
        @include Mq(XXS) {
          font-size: 12px;
        }
      }
    }
    &.fcDays {
      li {
        margin-bottom: 10px;
        a {
          color: $blueGray;
          border-radius: 50%;
          cursor: pointer;
          @include box-shadow(-3px, 3px, 10px, -3px, rgba($black,0.5));
          max-width: 70px;
          max-height: 70px;
          line-height: 70px;
          @include Mq(XS) {
            max-width: 50px;
            max-height: 50px;
            line-height: 50px;
          }
          @include Mq(XXS) {
            max-width: 30px;
            max-height: 30px;
            line-height: 30px;
          }
        }
        &.absent {
          a {
            color: $white;
            background: $cinnabar;
          }
        }
        &.present {
          a {
            color: $white;
            background: $success;
          }
        }
        &.weekend {
          a {
            color: $white;
            background: $mineShaft + 17;
          }
        }
        &.Na {
          a {
            color: $doveGray - 17;
            background: $silver + 16;
          }
        }
        &.future{
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}
