.gridCustom {
  &.panel {
    .panel-body {
      padding: 0;
      position: relative;
    }
    .panel-heading {
      .panel-title {
        line-height: 30px;
      }
    }
  }
  .table {
    margin-bottom: 0;
    thead {
      th {
        padding: 10px;
      }
    }
    td {
      p {
        a {
          display: block;
          text-align: center;
          .fa-pencil {
            color: $curiousBlue;
          }
          .fa-trash {
            color: $cinnabar;
          }
        }
      }
    }
  }
  .pagination {
    @include centeredElem(auto, 50%, -50%, 0);
  }
}

.pagination {
  display: block;
  text-align: center;
  > li {
    display: inline-block;
    vertical-align: middle;
    font-family: $secondaryFont;
    margin: 0 3px;
    &:first-child, &:last-child {
      > a, > span {
        border-radius: 50%;
      }
    }
    &.active {
      > a, > span {
        background: $jungleGreen;
        color: $white;
        &:hover, &:focus {
          background: $jungleGreen;
          color: $white;
          width: 37px;
          height: 37px;
        }
      }
    }
    > a, > span {
      color: $jungleGreen;
      border-radius: 50%;
      border-color: $jungleGreen;
      background: $white;
      width: 37px;
      height: 37px;
      padding: 0;
      float: none;
      display: inline-block;
      text-align: center;
      line-height: 36px;
      cursor: pointer;
      @include transition($transitionValue);
      &:hover, &:focus {
        background: $jungleGreen;
        color: $white;
      }
    }
  }
}

.panel-group {
  .panel {
    .panel-heading {
      background-color: $pacificBlueDark;
      color: $white;
      i {
        margin-right: 5px;
      }
    }
    .panel-body {
      padding: 20px 20px 0;
      .row {
        [class*="col-"] {
          margin-bottom: 20px;
        }
        &:first-child {
          margin-top: 0;
        }
        .box {
          border-color: $blueLagoon;
          background: $blueLagoon;
          color: $blueLagoon;
        }
      }
    }
  }
}

.selectWrapper {
  position: relative;
  &:after {
    content: "\f078";
    color: $black;
    font-size: 13px;
    font-family: 'FontAwesome';
    width: 18px;
    height: 28px;
    right: 3px;
    line-height: 26px;
    @include centeredElem(50%, auto, 0, -50%);
    background: $white;
    z-index: 2;
    pointer-events: none;
    text-align: center;
  }
  select {
    padding-right: 25px;
    cursor: pointer;
  }
}

.input-group-addon {
  background-color: $pacificBlue;
  color: $white;
  border: $pacificBlue;
}

.text-danger {
  text-transform: none;
}

.switch {
  .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      padding: 2px;
      width: 50px;
      height: 25px;
      margin-bottom: 0;
      @include crossBrowser(user-select, none);
      @include border-radius(60px);
      &:before, &:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
      }
      &:before {
        right: 1px;
        background-color: $cinnabar;
        @include transition($transitionValue);
        @include border-radius(60px);
      }
      &:after {
        width: 25px;
        background-color: $white;
        @include transition($transitionValue);
        @include box-shadow(2px, 0, 5px, 0, rgba($black, 0.3));
        @include border-radius(100%);
      }
    }
    &:checked {
      + label {
        &:before {
          background-color: $success;
        }
        &:after {
          margin-left: 25px;
        }
      }
    }
  }
}

.mainUploadWrapper {
  position: relative;
  .dragDropWrapper {
    padding: 10px;
    border: 3px dashed $silver;
    min-height: 180px;
    &.file-over {
      border-color: $pacificBlue;
    }
    > div {
      text-align: center;
      > span {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 25px);
        vertical-align: middle;
      }
      i {
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
  .verCenter {
    max-width: 80%;
    width: 100%;
    text-align: center;
  }
  .uploadBtn {
    position: relative;
    margin-top: 30px;
    input.btn {
      opacity: 0;
      width: 100%;
      z-index: 100;
    }
    span {
      position: absolute;
      width: 30%;
      margin: auto;
      left: 0;
      right: 0;
      text-align: center;
      top: 0;
      z-index: -1;
    }
  }
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

app-image-upload {
  .deleteRecentImage {
    text-align: right;
    margin-bottom: 10px;
  }
  .result.rounded {
    text-align: center;
    margin-top: 10px;
  }
  img-cropper {
    span {
      background: $black;
      display: block;
      canvas {
        margin: 0 auto;
        height: 100%;
        display: block;
      }
    }
  }
}

.examDetail {
  margin-bottom: 20px;
  > div {
    padding: 7px;
    &:nth-child(odd){
      background: $white - 10;
    }
    label{
      margin-bottom: 0;
    }
  }
  &.examEdit{
    @extend .clearfix;
    > div{
      float: left;
      width: 50%;
      background: $white;
      &:nth-child(2n + 1) {
        clear: left;
      }
      @include Mq(XS){
        float: left;
        width: 100%;
      }
    }
  }
}

month-year-picker{
  position: relative;
  display: block;
  .monthWrapper {
    border: 1px solid $gallery;
    border-radius: 4px;
    position: absolute;
    background-color: $white;
    @include box-shadow(5px, 0, 13px, -2px, rgba($black, 0.35));
    width: 100%;
    min-width: 280px;
    max-width: 100%;
    margin: auto;
    font-family: $secondaryFont;
    .yearControl {
      font-size: 0;
      padding: 10px;
      a{
        display: block;
        text-align: center;
        i {
          font-size: 25px;
          width: 15px;
          font-weight: $fwBold;
          cursor: pointer;
          @extend .inlineTop;
        }
        strong{
          @extend .inlineTop;
          font-size: 18px;
          width: calc(100% - 30px);
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      font-size: 0;
      li {
        @extend .inlineTop;
        font-size: 14px;
        width: calc(100% / 4);
        a {
          display: block;
          padding: 20px;
          text-align: center;
          &:hover, &:focus{
            background: $white - 10;
          }
        }
        &.current {
          a {
            background: $jungleGreen;
            color: $white;
            &:hover, &:focus{
              background: $jungleGreen - 10;
            }
          }
        }
      }
    }
  }
}

.assignmentDetail{
  .assignmentDesc{
    margin-bottom: 20px;
    color: $doveGray;
  }
  .attachmentWrap{
    margin-bottom: 20px;
    .attacment{
      @extend .inlineMiddle;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid $silver;
      color: $doveGray;
      margin-right: 10px;
      &:last-child{
        margin: 0;
      }
      i, span{
        @extend .inlineTop;
      }
      span{
        font-size: 14px;
        padding-left: 5px;
        &:first-letter{
          text-transform: uppercase;
        }
      }
    }
  }
  .assignDates{
    margin-bottom: 20px;
    > div{
      @extend .inlineTop;
      font-size: 14px;
      color: $white;
      background: $jungleGreen;
      padding: 8px;
      border-radius: 5px;
      margin-right: 7px;
      &:last-child{
        margin: 0;
      }
      i{
        @extend .inlineMiddle;
        padding-right: 5px;
        font-size: 16px;
      }
      span{
        @extend .inlineMiddle;
        line-height: normal;
      }
    }
  }
}
