.btn {
  @include transition($transitionValue);
  font-family: $primaryFont;
  &.btn-primary {
    background: transparent;
    border-radius: 0;
    border: 1px solid $pacificBlue;
    color: $pacificBlue;
    min-width: 130px;
    font-weight: 600;
    &:focus, &:hover {
      background: $pacificBlue;
      color: $white;
    }
  }
  &.btn-success {
    background: transparent;
    border-radius: 0;
    border: 1px solid $success;
    color: $success;
    min-width: 130px;
    font-weight: 600;
    &:focus, &:hover {
      background: $success;
      color: $white;
    }
  }
  &.btn-danger {
    background: transparent;
    border-radius: 0;
    border: 1px solid $cinnabar;
    color: $cinnabar;
    min-width: 130px;
    font-weight: 600;
    &:focus, &:hover {
      background: $cinnabar;
      color: $white;
    }
  }
  &.btn-warning {
    background: transparent;
    border-radius: 0;
    border: 1px solid $warning;
    color: $warning;
    min-width: 130px;
    font-weight: 600;
    &:focus, &:hover {
      background: $warning;
      color: $white;
    }
  }
  &.btn-default {
    background: transparent;
    border-radius: 0;
    border: 1px solid $mineShaft;
    color: $mineShaft;
    min-width: 130px;
    font-weight: 600;
    &:focus, &:hover {
      background: $mineShaft;
      color: $white;
    }
  }
  &.btn-full{
    width: 100%;
  }
  &.btn-with-label{
    margin-top: 27px;
  }
}

.radioCheckWrap {
  input[type=radio], input[type=checkbox] {
    display: none;
    + label {
      position: relative;
      font-weight: $fwRegular;
      span {
        font-size: 14px;
        font-weight: $fwBold;
        @extend .inlineMiddle;
      }
    }
  }
  input[type=checkbox] + label:before, input[type=radio] + label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
    background-color: $white;
    border: 2px solid $jungleGreen;
    border-radius: 2px;
    position: relative;
    font-size: 16px;
  }
  input[type=radio] + label:before {
    border-radius: 50%;
  }
  input[type=radio]:checked + label:before {
    content: ""; /* Tick */
    color: $jungleGreen;
    background-color: $jungleGreen;
    text-align: center;
    line-height: 16px;
    font-size: 30px;
    text-indent: -1px;
  }
  input[type=checkbox]:checked + label:before {
    content: "\2714"; /* Tick */
    color: $white;
    background-color: $jungleGreen;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
  }
  + .radioCheckWrap {
    margin-left: 10px;
  }
  @include Mq(XS) {
    input[type=radio], input[type=checkbox] {
      + label {
        span {
          display: inline-block;
          width: calc(100% - 26px);
          vertical-align: top !important;
        }
      }
    }
  }
}

.formSection {
  border-radius: 5px;
  background: #fff;
  padding: 15px 15px 30px;
  border-top: 4px solid $jungleGreen;
  + .formSection {
    margin-top: 20px;
  }
  h3 .btn {
    float: right;
  }
  h3 {
    span {
      display: inline-block;
      vertical-align: middle;
    }
    @include Mq(XS) {
      text-align: center;
      span {
        display: block;
      }
      .btn {
        float: none;
        margin-top: 15px;
      }
    }
  }
}

.generWithProfile {
  .profilePictureWrap {
    position: relative;
    border-radius: 50%;
    border: 5px solid $white;
    text-align: center;
    overflow: hidden;
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    @include box-shadow(3px, 0, 7px, -1px, rgba($black, 0.5));
    a {
      display: block;
      img {
        width: 100%;
      }
    }
    .overlayImgEdit {
      opacity: 0;
      @include transition($transitionValue);
      @include centeredElem(50%, auto, 0, -50%);
      width: 100%;
      height: 100%;
      background: rgba($black, 0.5);
      text-align: center;
      i {
        + i {
          margin-left: 10px;
        }
        &.icon-camera {
          font-size: 24px;
        }
      }
      > div {
        @include centeredElem(50%, 0, 0, -50%);
        font-size: 20px;
        color: $white;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
      }
      &.visibleOverlay {
        opacity: 1;
      }
    }
    &:hover {
      .overlayImgEdit {
        opacity: 1;
      }
    }
  }
  .generForm, .generFormParent {
    width: calc(100% - 170px);
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    .form-group {
      > label {
        width: 30%;
      }
      > span {
        padding-left: 15px;
        display: inline-block;
        width: 68%;
      }
    }
    .btn-group {
      padding: 0 15px;
      margin-top: 20px;
      display: block;
      text-align: right;
      .btn {
        float: none;
        + .btn {
          margin-left: 15px;
        }
      }
    }
  }
  .generFormParent {
    margin-left: 0;
    width: 100%;
  }
  @include Mq(XS) {
    .profilePictureWrap {
      margin: auto;
      display: block;
    }
    .generForm {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
  @include Mq(XXS) {
    .generForm {
      .btn-group {
        .btn {
          float: none;
          width: 100%;
          + .btn {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

datetime {
  .form-inline {
    .input-group {
      display: block;
      .input-group-addon {
        height: 34px;
        width: 38px;
        position: absolute;
        right: 0;
        z-index: 10;
        top: 0;
        .glyphicon {
          top: 3px;
        }
      }
      input {
        padding-right: 43px;
        float: none;
      }
    }
  }
}

.viewProfileInfoWrap {
  .generForm, .generFormParent {
    > .clearfix {
      margin-left: -15px;
      margin-right: -15px;
      &:after {
        border-bottom: 1px solid $nobel;
        width: calc(100% - 30px);
        margin: auto;
      }
      > [class*="col-"] {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
    .form-group {
      margin-bottom: 0;
    }
  }
}

.searchWithBtn {
  font-size: 0;
  .form-control {
    width: calc(100% - 150px);
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
  }
  .btn {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
}

.searchWithoutBtn {
  .form-control {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
  }
}

.loading {
  background-color: #ffffff;
  background-image: url("../images/1.gif");
  background-size: 20px 20px;
  background-position: right center;
  background-repeat: no-repeat;
}

autocomplete {
  position: relative;
  small {
    font-size: 14px;
  }
  .loading {
    background-color: #ffffff;
    background-image: url("../images/1.gif");
    background-size: 20px 20px;
    background-position: right center;
    background-repeat: no-repeat;
  }
  .acDropWrap {
    position: relative;
    .caret {
      @include centeredElem(50%, auto, -50%, -50%);
      right: 7px;
      border-width: 5px;
    }
    .fa-times {
      @include centeredElem(50%, auto, -50%, -50%);
      right: 25px;
      color: $cinnabar;
    }
    div.form-control {
      cursor: pointer;
      padding-right: 35px;
      position: relative;
    }
    .dropdown {
      max-height: 150px;
      overflow-y: auto;
      position: absolute;
      top: 34px;
      left: 0;
      background: $white;
      width: 100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: 5;
      @include box-shadow(5px, 0, 13px, -2px, rgba($black, 0.35));
      input.form-control {
        margin: 10px 15px;
        width: calc(100% - 30px);
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          a {
            color: $mineShaft;
            cursor: pointer;
            display: block;
            padding: 5px 15px;
            font-size: 14px;
            @include transition($transitionValue);
            &:hover {
              background-color: $pacificBlue;
              color: $white;
            }
          }
        }
      }
    }
  }
}

.attendanceControlsWrapper {
  .btn {
    margin-top: 28px;
  }
}

p-multiselect {
  .ui-multiselect {
    display: block;
    border-color: $silver;
    background: transparent;
    .ui-multiselect-label-container {
      .ui-multiselect-label {
        font-weight: $fwRegular;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
      }
    }
    .ui-multiselect-trigger {
      border: 0;
      right: 7px;
      width: auto;
      padding: 0;
    }
    .ui-multiselect-panel {
      .ui-multiselect-header {
        .ui-multiselect-filter-container {
          width: calc(100% - 50px);
        }
      }
      .ui-multiselect-items-wrapper {
        .ui-multiselect-items {
          .ui-multiselect-item {
            padding: 3px 5px 5px;
            &.ui-state-highlight {
              background: transparent;
              border-color: $jungleGreen;
              color: $mineShaft;
            }
            label {
              font-weight: $fwRegular;
              font-size: 14px;
            }
          }
        }
      }
      .ui-chkbox-box {
        &.ui-state-active {
          background: $pacificBlue;
          border-color: $pacificBlue;
        }
      }
    }
  }
}

p-calendar {
  .ui-calendar {
    display: block;
    border-color: $silver;
    .ui-inputtext {
      color: $mineShaft;
      font-size: 14px;
      width: 100%;
      height: 34px;
      border-color: $silver;
    }
  }
  .ui-datepicker {
    &.ui-widget {
      top: 100% !important;
      width: 220px;
      .ui-widget-header {
        background: transparent;
        border: 0;
      }
      .ui-datepicker-calendar {
        font-size: 14px;
        thead {
          th {
            background: transparent;
            padding: 0;
            span {
              display: block;
              width: 30px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              padding: 0;
            }
          }
        }
        tbody {
          td {
            padding: 0;
            border: 0;
            a {
              display: block;
              width: 30px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              padding: 0;
              border-radius: 4px;
              &.ui-state-active {
                background: $jungleGreen;
              }
            }
          }
        }
      }
    }
  }
}
