html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: $primaryFont;
  font-weight: $fwRegular;
  background-color: $gallery;
}

@for $index from 1 through 6 {
  h#{$index} {
    font-family: $secondaryFont;
  }
}

@for $index from 1 through 3 {
  h#{$index} {
    font-weight: $fwMedium;
    text-transform: capitalize;
  }
}

a {
  text-decoration: none;
  color: $blueLagoon;
  &:hover, &:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
  }
}

.wrapper100 {
  min-height: 100%;
}

.mainLogo {
  margin: 20px auto;
  display: block;
}

hr {
  border-color: $nobel;
  &.dashedSep {
    border-top: 2px dashed $nobel;
  }
}

.clearfix {
  zoom: 1;
  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
  &:before, &:after {
    content: "";
    display: table;
  }
}

.main-container {
  min-height: 100%;
  position: relative;
  height: auto !important;
  .left_col {
    @extend .wrapper100;
    width: 230px;
    padding: 0;
    position: absolute;
    display: inline-block;
    z-index: 11;
    margin-left: 0;
    padding-top: 57px;
    top: 0;
    bottom: 0;
    @include transition($transitionValue);
  }
  .top_nav {
    position: fixed;
    z-index: 1100;
    width: 100%;
    @include transition($transitionValue);
  }
  .right_col {
    padding: 10px 20px 0;
    @include transition($transitionValue);
  }
  .internalPushWrapper {
    padding-top: 80px;
    @include transition($transitionValue);
  }
  &.collapse {
    display: block;
    .left_col {
      margin-left: -230px;
    }
    .right_col, .internalPushWrapper {
      margin-left: 0;
    }
  }
  &.in, &.collapsing {
    .left_col {
      margin-left: 0;
    }
    .right_col, .internalPushWrapper {
      margin-left: 230px;
    }
  }
  @include Mq(TXS) {
    &.in, &.collapsing {
      .internalPushWrapper {
        margin-left: 0;
      }
    }
  }
}

.img-circle {
  border-radius: 50%;
}

.verCenter {
  @include centeredElem(50%, 50%, -50%, -50%);
}

.modal-backdrop{
  z-index: 1100;
}
.modal.fade {
  z-index: 1110;
  .modal-dialog {
    width: 100%;
    max-width: 450px;
    @include centeredElem(0, 0, 0, 0);
    right: 0;
    margin: 30px auto;
    &.modal-lg {
      max-width: 1100px;
    }
    &.modal-md {
      max-width: 650px;
    }
    .modal-title {
      font-size: 20px;
    }
    .modal-header {
      .close {
        color: $cinnabar;
        opacity: 1;
        font-size: 32px;
        line-height: 20px;
        &:hover {
          color: $cinnabar;
          opacity: 1;
        }
      }
    }
    .input-group{
      a{
        color: $white;
        @extend .noDeco;
        &:hover, &:focus{
          color: $white;
        }
      }
    }
    @include Mq(HL) {
      @include centeredElem(0, 0, 0, 0);
      position: relative;
      margin: 30px auto;
    }
  }
}

.borderWrapper {
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  border-top: 4px solid $jungleGreen;
}

.mainContentWrapper {
  padding: 30px;
  border-radius: 5px;
  @include Mq(XS) {
    padding: 20px 0;
  }
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 5px 0 0;
  > li {
    color: $mineShaft;
    font-size: 14px;
    + li:before {
      padding: 0 2px;
      color: $mineShaft;
    }
    a {
      font-weight: $fwBold;
    }
  }
  > .active {
    color: $mineShaft;
  }
}

.pageTitle {
  margin: 20px 0 40px;
  h2 {
    margin: 0;
    @extend .clearfix;
    > .btn {
      float: right;
    }
    .btn-group {
      float: right;
      margin-top: 0;
      .btn + .btn {
        margin-left: 15px;
      }
    }
    small {
      margin-left: 10px;
      font-family: $primaryFont;
    }
    @include Mq(XS) {
      font-size: 24px;
    }
    @include Mq(XXS) {
      font-size: 20px;
    }
  }
}

.topSpace {
  margin-top: 40px;
}

.bottomSpace {
  margin-bottom: 40px;
}

.inlineMiddle {
  display: inline-block;
  vertical-align: middle;
}

.inlineTop {
  display: inline-block;
  vertical-align: top;
}

.ng-busy {
  background: rgba($black, 0.85);
  height: 100vh;
  position: fixed;
  .ng-busy-default-sign {
    background: transparent;
    color: $white;
    padding: 0;
    border: 0;
    margin-left: 2%;
    @include centeredElem(50%, 50%, -50%, -50%);
    .ng-busy-default-spinner div {
      width: 30%;
      height: 100%;
      background: $jungleGreen;
    }
    .ng-busy-default-text {
      font-size: 20px;
      vertical-align: middle;
      margin-top: 17px;
      margin-left: 60px;
    }
  }
}

.ng-busy-backdrop {
  top: 57px;
  left: 231px;
}

.btn-group {
  display: block;
  text-align: right;
  margin-top: 20px;
  .btn {
    float: none;
    + .btn {
      margin-left: 15px;
    }
  }
}

textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

.vMiddle{
  vertical-align: middle;
}

.noDeco{
  text-decoration: none;
  &:hover, &:focus{
    text-decoration: none;
  }
}

.cursorPointer{
  cursor: pointer;
}
