.nav_menu {
  float: left;
  background: $white;
  border-bottom: 0;
  margin-bottom: 0;
  width: 100%;
  position: relative;
  @include box-shadow(0,0,13px,-1px,rgba(0,0,0,0.75));
  .toggle {
    float: left;
    margin: 0;
    padding-top: 16px;
    width: 70px;
    a {
      padding: 0 15px;
      margin: 0;
      cursor: pointer;
      color: $pacificBlue;
      &:hover, &:focus {
        color: $pacificBlue;
      }
      i {
        font-size: 26px;
      }
    }
  }
  .navbar-right {
    margin: 0;
    width: 70%;
    float: right;
    > li {
      display: inline-block;
      float: right;
      position: relative;
      font-size: 14px;
      color: $white;
      &.open {
        .dropdown-menu {
          position: absolute;
          background: #fff;
          margin-top: 0;
          border: 1px solid #D9DEE4;
          -webkit-box-shadow: none;
          right: 0;
          left: auto;
          width: 220px;
          display: block;
        }
      }
      > a {
        color: $pacificBlue;
        font-weight: 500;
        margin-left: 0;
        line-height: 32px;
        position: relative;
        display: block;
        padding: 13px 15px 12px;
        &.user-profile img {
          width: 29px;
          height: 29px;
          border-radius: 50%;
          margin-right: 10px;
        }
        &.dropdown-toggle {
          &:after {
            content: none;
          }
        }
        &:hover, &:focus {
          background: transparent;
        }
      }
      .dropdown-menu {
        box-shadow: none;
        display: none;
        float: left;
        font-size: 12px;
        left: 0;
        list-style: none outside none;
        padding: 0;
        position: absolute;
        text-shadow: none;
        top: 100%;
        z-index: 9998;
        border: 1px solid $gallery;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        li {
          display: block;
          font-size: 13px;
          padding: 0;
          a {
            display: block;
            padding: 10px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
            i{
              padding-right: 10px;
              &.icon-user{
                color: $jungleGreen;
                font-size: 22px;
              }
              &.icon-help{
                color: $success;
                font-size: 24px;
              }
              &.icon-logout{
                color: $cinnabar;
              }
            }
          }
        }
      }
      .form-group {
        margin-bottom: 0;
        margin-top: 15px;
        label, .selectWrapper {
          display: inline-block;
          vertical-align: middle;
        }
        label {
          margin-right: 10px;
        }
        select {
          width: initial;
        }
      }
      &.notifications{
        .icon-bell{
          position: relative;
          span{
            background: $jungleGreen;
            font-family: $primaryFont;
            font-size: 10px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            color: $white;
            text-align: center;
            line-height: 18px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -3px;
            margin-left: 5px;
            position: absolute;
            top: -7px;
            right: -9px;
            font-weight: $fwBold;
          }
        }
        .notifyBox {
          top: calc(100% + 15px);
          left: 50%;
          @include translate(-50%,0);
          background: $white;
          border-radius: 5px;
          display: none;
          max-width: 270px;
          min-width: 270px;
          position: absolute;
          @include box-shadow(0,0,13px,0,rgba($black, 0.17));
          &:after{
            content: "";
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $white transparent;
            display: block;
            position: absolute;
            top: -10px;
            border-style: none solid solid solid;
            height: 0;
            width: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
          h3{
            font-size: 18px;
            color: $mineShaft;
            margin: 10px 0;
            text-align: center;
            font-family: $primaryFont;
            font-weight: $fwLight;
            span{
              background: $jungleGreen;
              font-size: 12px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              color: $white;
              text-align: center;
              line-height: 20px;
              display: inline-block;
              vertical-align: middle;
              margin-top: -3px;
              margin-left: 5px;
              font-weight: $fwBold;
            }
          }
          .dropdown-menu{
            background: $white - 10;
            border: 0;
            position: static;
            width: 100%;
            max-height: 270px;
            overflow: auto;
            li {
              border-top: 1px solid $nobel;
              a {
                white-space: normal;
                font-size: 0;
                span{
                  @extend .inlineTop;
                  width: calc(100% - 30px);
                  font-size: 13px;
                }
                i{
                  vertical-align: top;
                }
                &:hover{
                  background: $white - 20;
                }
              }
            }
          }
        }
        &.open{
          .notifyBox{
            display: block;
          }
        }
      }
    }
    @include Mq(XS) {
      text-align: center;
      width: calc(100% - 72px);
      > li {
        .form-group {
          label {
            display: none;
          }
        }
        &:last-child{
          float: none;
        }
      }
    }
  }

  .navbar-nav {
    display: block;
  }

  #menu_toggle {
    display: none;
  }

}
