@font-face {
  font-family: 'lms-icon';
  src:
    url('../fonts/lms-icon.ttf?wux9r8') format('truetype'),
    url('../fonts/lms-icon.woff?wux9r8') format('woff'),
    url('../fonts/lms-icon.svg?wux9r8#lms-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lms-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  vertical-align: middle;
}

.icon-add:before {
  content: "\e90c";
}
.icon-delete:before {
  content: "\e90d";
}
.icon-download:before {
  content: "\e90e";
}
.icon-edit:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e910";
}
.icon-logout:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e912";
}
.icon-camera:before {
  content: "\e913";
}
.icon-settings:before {
  content: "\e914";
}
.icon-help:before {
  content: "\e915";
}
.icon-bell:before {
  content: "\e916";
}
.icon-test:before {
  content: "\e917";
}
.icon-attachment:before {
  content: "\e918";
}
.icon-timetale:before {
  content: "\e919";
}
.icon-message:before {
  content: "\e91a";
}
.icon-homework:before {
  content: "\e91b";
}
.icon-assignment:before {
  content: "\e91c";
}
.icon-tag:before {
  content: "\e91d";
}
.icon-pencil-edit:before {
  content: "\e91e";
}
.icon-class:before {
  content: "\e91f";
}
.icon-student:before {
  content: "\e920";
}
.icon-parent:before {
  content: "\e921";
}
.icon-result:before {
  content: "\e922";
}
.icon-attendance:before {
  content: "\e923";
}
.icon-exam:before {
  content: "\e924";
}
.icon-teacher:before {
  content: "\e925";
}
.icon-diary:before {
  content: "\e900";
}
.icon-schedule:before {
  content: "\e901";
}

