#main {
  position: relative;
  min-height: 100vh;
}

.loginWrapper {
  background: url('../images/mainBg.jpg') no-repeat center center;
  background-size: cover;
  form {
    @include centeredElem(50%, 50%, -50%, -50%);
    color: $white;
    min-width: 450px;
    padding: 30px;
    border-radius: 5px;
    @include box-shadow(0,0,35px,0, $black);
    background: rgba($pacificBlueDark, 0.3);
    .login-submit {
      a {
        display: block;
        input{
          min-width: 80px;
          height: 40px;
          text-transform: uppercase;
          background-color: $success;
          color: $white;
          @include transition($transitionValue);
          &:hover{
            background-color: $success - 25;
            border: 2px solid $success + 25;
          }
        }
        &.btn-success{
          text-transform: uppercase;
          background-color: $success;
          color: $white;
          @include transition($transitionValue);
          &:hover{
            background-color: $success - 25;
          }
        }
      }
    }
  }
}
