.searchWrapper {
  font-size: 0;
  margin-bottom: 20px;
  .searchField {
    @extend .inlineMiddle;
    @include calc(width, '100% - 270px');
    .input-group {
      position: relative;
      float: none;
      width: 100%;
      cursor: pointer;
      input {
        padding-right: 50px;
        font-size: 14px;
        border-radius: 4px;
      }
      .input-group-addon {
        width: 50px;
        padding: 0;
        text-align: center;
        position: absolute;
        right: 0;
        background: transparent;
        border: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
        i {
          color: $dustGray;
          line-height: 40px;
        }
      }
    }
  }
  .navbar-nav {
    @extend .inlineMiddle;
    width: 250px;
    float: none;
    margin-left: 20px;
    > li {
      width: 49%;
      @extend .inlineMiddle;
      &:last-child {
        padding-left: 2%;
      }
      a {
        padding: 10px 15px;
        &.btn-primary {
          &:hover, &:focus {
            background: $jungleGreen;
            color: $white;
          }
        }
        &.btn-blue {
          &:hover, &:focus {
            background: $jungleGreen - 15;
            color: $white;
          }
        }
      }
    }
  }
  .searchFieldNewButton {
    @extend .inlineMiddle;
    width: 250px;
    float: none;
    margin-left: 20px;
    a {
      display: block;
      height: 34px;
      line-height: 34px;
      padding: 0;
    }
  }
  @include Mq(XXS) {
    .searchField {
      width: 100%;
    }
    .navbar-nav {
      width: 100%;
      margin-left: 0;
      > li {
        width: 100%;
        &:last-child {
          padding-left: 0;
          margin-top: 10px;
        }
        .dropdown-menu {
          left: 0;
          max-width: 100%;
          li {
            a {
              padding: 5px;
            }
          }
        }
      }
    }
  }
}

.activityDay {
  margin-bottom: 30px;
  h3 {
    margin: 0 0 10px;
    color: $doveGray;
    font-size: 20px;
    border-bottom: 1px solid $doveGray - 16;
    span {
      color: $mineShaft;
      display: inline-block;
      position: relative;
      padding-bottom: 3px;
      strong {
        padding-left: 5px;
      }
      &:after {
        content: '';
        border-bottom: 3px solid $success;
        @include calc(width, '100% + 7px');
        position: absolute;
        left: 0;
        bottom: -2px;
      }
    }
  }
  .adDetails {
    overflow: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      list-style-type: none;
      padding: 15px;
      position: relative;
      font-size: 0;
      border-bottom: 1px dashed $nobel;
      display: inline-block;
      white-space: nowrap;
      min-width: 100%;
      min-height: 110px;
      .userProf {
        @extend .inlineTop;
      }
      .docsAdded, .message{
        @extend .inlineMiddle;
      }
      .userProf {
        width: 300px;
        i {
          font-size: 34px;
          @extend .inlineMiddle;
        }
        img {
          max-width: 34px;
          border-radius: 5px;
          @extend .inlineMiddle;
        }
        h4 {
          margin: 0 0 0 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 18px;
          font-weight: $fwBold;
          @include calc('width', '100% - 45px');
          @extend .inlineMiddle;
        }
      }
      .message {
        font-size: 16px;
        @include calc(width, '100% - 290px');
        white-space: normal;
        max-width: 100%;
        padding: 0 10px;
        position: relative;
        a {
          color: $jungleGreen;
        }
        p {
          margin: 0;
        }
      }
      time {
        font-size: 14px;
        position: absolute;
        right: 15px;
        bottom: 15px;
      }
    }
  }
  @include Mq(XS) {
    ul {
      display: block;
      li {
        display: block;
        white-space: normal;
        .userProf, .docsAdded, .multilineElippse {
          display: block;
        }
        .userProf {
          width: 100%;
        }
        .message {
          font-size: 14px;
          @include calc(width, '100%');
          max-width: 100%;
          padding: 10px 0;
        }
        .multilineElippse {
          font-size: 14px;
          width: 100%;
          padding: 0;
          margin: 10px 0;
        }
        time {
          font-size: 12px;
          top: 23px;
          bottom: auto;
        }
      }
    }
  }
}

.messageSearchWrapper {
  .messageSorting {
    font-size: 0;
    .form-group {
      label {
        font-size: 16px;
        @extend .inlineMiddle;
      }
      select.form-control {
        width: calc(100% - 192px);
        font-size: 14px;
        margin-left: 10px;
        height: 34px;
        padding: 0 10px;
        @extend .inlineMiddle;
      }
    }
  }
  .searchWrapper {
    label {
      font-size: 16px;
      margin-right: 15px;
      font-weight: $fwRegular;
      @extend .inlineMiddle;
    }
    .searchField {
      .input-group {
        @extend .inlineMiddle;
        @include calc(width, '100% - 90px');
      }
    }
  }
  @include Mq(LMD) {
    .searchWrapper {
      label {
        font-size: 14px;
      }
      .searchField {
        @include calc(width, '100% - 170px');
      }
      .searchFieldNewButton {
        width: 150px;
      }
    }
  }
  @include Mq(XS) {
    .searchWrapper {
      label {
        font-size: 14px;
      }
      .searchField {
        @include calc(width, '100% - 170px');
      }
      .searchFieldNewButton {
        width: 150px;
      }
    }
  }
  @include Mq(XXS) {
    .searchWrapper {
      label {
        font-size: 14px;
      }
      .searchField {
        width: 100%;
        .input-group {
          @include calc(width, '100% - 80px');
        }
      }
      .searchFieldNewButton {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
}

.messageList {
  border-top: 1px solid $doveGray - 16;
  .activityDay {
    ul {
      li {
        .message {
          @include calc(width, '100% - 400px');
          h4 {
            font-weight: bold;
            font-size: 20px;
            margin: 0 0 5px;
            a {
              @extend .noDeco;
              @extend .inlineMiddle;
              border-bottom: 1px solid;
            }
            span {
              border-radius: 50%;
              background: $curiousBlue;
              color: $white;
              margin-left: 5px;
              font-size: 14px;
              font-weight: $fwBold;
              width: 26px;
              height: 26px;
              line-height: 26px;
              text-align: center;
              @extend .inlineMiddle;
            }
          }
        }
      }
    }
  }
  @include Mq(XS) {
    .activityDay {
      ul {
        li {
          .message {
            @include calc(width, '100%');
            max-width: 100%;
            h4 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.postNewMsg {
}

.messageWrapper {
  border: 1px solid $nobel;
  border-radius: 5px;
  margin-bottom: 20px;
  .form-control {
    font-size: 14px;
    height: auto;
    padding: 10px;
    border-radius: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $silver;
    @include crossBrowser(box-shadow, none);
    &:focus{
      @include crossBrowser(box-shadow, none);
    }
  }
  textarea.form-control{
    border: 0;
  }
}

.msgthreadHeading {
  font-size: 24px;
  border-bottom: 2px solid $dustGray - 41;
  padding-bottom: 10px;
  margin: 0;
  font-weight: $fwBold;
}

.msgThreadWrap {
  margin-top: 25px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin-top: 15px;
      font-size: 0;
      border-bottom: 1px dashed $nobel;
      padding-bottom: 25px;
      max-width: 80%;
      .userProf {
        img {
          max-width: 45px;
          border-radius: 5px;
          @extend .inlineMiddle;
        }
        h4 {
          margin: 0 0 0 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 18px;
          font-weight: $fwBold;
          @include calc('width', '100% - 55px');
          @extend .inlineMiddle;
          time {
            font-size: 13px;
            display: block;
            margin-top: 5px;
            color: $dustGray;
            font-weight: $fwRegular;
          }
        }
      }
      .fullMsg {
        font-size: 16px;
        margin-top: 15px;
        ul, ol{
          margin-bottom: 10px;
          margin-left: 20px;
          padding-left: 20px;
          li{
            list-style-type: disc;
            font-size: 16px;
            border: 0;
            max-width: 100%;
            padding: 0;
            margin: 0;
          }
        }
        ol{
          li{
            list-style-type: decimal;
          }
        }
      }
      .docsAdded {
        margin-top: 15px;
        h4 {
          font-weight: $fwBold;
          font-size: 16px;
          margin: 0;
        }
        > ul {
          margin-top: 15px;
          li {
            list-style-type: none;
            border: 1px solid $nobel;
            border-radius: 5px;
            padding: 5px;
            min-width: 220px;
            max-width: 220px;
            cursor: pointer;
            font-size: 0;
            margin: 0 15px 5px 0;
            @extend .inlineTop;
            &:last-child {
              margin-right: 0;
            }
            i {
              @extend .inlineMiddle;
            }
            h5 {
              @include calc(width, '100% - 55px');
              margin-left: 10px;
              font-size: 16px;
              overflow: hidden;
              text-overflow: ellipsis;
              @extend .inlineMiddle;
              span {
                border-bottom: 1px solid $nobel;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
  @include Mq(MMD) {
    ul {
      li {
        max-width: 100%;
        ul {
          margin-bottom: 0;
        }
      }
    }
  }
  @include Mq(XS) {
    ul {
      li {
        .userProf {
          h4 {
            font-size: 16px;
            time {
              font-size: 12px;
            }
          }
        }
        .fullMsg {
          font-size: 14px;
        }
        .docsAdded {
          h4 {
            font-size: 14px;
          }
          > ul {
            li {
              h5 {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.detailsWrapper {
  .dwHeader {
    color: $dustGray;
    border-bottom: 2px solid $dustGray - 41;
    padding-bottom: 7px;
    padding-top: 7px;
    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: $fwBold;
      text-transform: uppercase;
    }
  }
  .dwBody {
    div {
      margin-top: 30px;
      small {
        color: $dustGray;
        font-size: 14px;
        font-weight: $fwBold;
      }
      h3 {
        font-size: 16px;
        margin: 0;
      }
      &.dwfileShared {
        display: block;
        img {
          @extend .inlineTop;
          max-width: 30px;
          border-radius: 4px;
          + img {
            margin-left: 5px;
          }
        }
      }
    }
    .emptyDetails {
      text-align: center;
      margin-top: 100px;
      i {
        &:before {
          font-size: 70px;
        }
      }
      h5 {
        font-weight: $fwRegular;
        color: $dustGray;
        font-size: 14px;
      }
    }
  }
  &.detailWithTabs {
    margin-top: 46px;
    @include Mq(MMD) {
      margin-bottom: 0;
    }
  }
  @include Mq(XXS) {
    .dwHeader {
      h2 {
        font-size: 12px;
      }
    }
    .dwBody {
      div {
        small {
          font-size: 12px;
        }
        h3 {
          font-size: 14px;
        }
      }
      .emptyDetails {
        i {
          &:before {
            font-size: 50px;
          }
        }
        h5 {
          font-size: 12px;
        }
      }
    }
  }
}

.currentUserComment {
  font-size: 0;
  margin-top: 15px;
  max-width: 80%;
  img {
    @extend .inlineMiddle;
    max-width: 40px;
    border-radius: 5px;
  }
  > input {
    @extend .inlineMiddle;
    @include calc(width, '100% - 50px');
    margin-left: 10px;
  }
  .postNewMsg {
    vertical-align: top;
    @include calc(width, '100% - 50px');
    margin-left: 10px;
    font-size: 16px;
    @extend .inlineTop;
  }
  @include Mq(MMD) {
    margin-bottom: 20px;
    max-width: 100%;
  }
}
