//mixins
@mixin transition($transitionValue) {
  -webkit-transition: $transitionValue;
  -moz-transition: $transitionValue;
  -ms-transition: $transitionValue;
  -o-transition: $transitionValue;
  transition: $transitionValue;
}

/*transform mixin*/
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

//placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

//box shadow
@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $left $top $blur $size $color;
    -moz-box-shadow: inset $left $top $blur $size $color;
    box-shadow: inset $left $top $blur $size $color;
  } @else {
    -webkit-box-shadow: $left $top $blur $size $color;
    -moz-box-shadow: $left $top $blur $size $color;
    box-shadow: $left $top $blur $size $color;
  }
}

@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

// media queries

@mixin Mq($canvas) {
  //extra small screens less than or equal 480px
  @if $canvas == XXS {
    @media only screen and (max-width: $XXS) {
      @content;
    }
  }
  //extra small screens less than or equal 767px
  @if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  }
  //desktop screens less than or equal 991px
  @else if $canvas == DXS {
    @media only screen and (max-width: $maxSM) {
      @content;
    }
  }
  //large screens less than 1200px
  @else if $canvas == TXS {
    @media only screen and (max-width: $maxMD) {
      @content;
    }
  }
  //screens between 768px and 1999px
  @else if $canvas == DSM {
    @media only screen and (min-width: $SM) and (max-width: $maxMD) {
      @content;
    }
  }
  //max-height for laptops and below
  @else if $canvas == HL {
    @media only screen and (max-height: $HL) {
      @content;
    }
  }
}

@mixin centeredElem ($top, $left, $x, $y){
  position: absolute;
  top: $top;
  left: $left;
  @include transform(translate($x, $y));
}

@mixin crossBrowser($property, $val){
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
