.main-container {
  .left_col {
    background: $pacificBlueDark;
    .menu_section {
      > ul {
        margin-top: 10px;
        display: block;
        background: $pacificBlueDark;
        padding-bottom: 30px;
        &.side-menu {
          position: relative;
          display: block;
          cursor: pointer;
          > li {
            position: relative;
            overflow: hidden;
            .nav.child_menu {
              display: block;
              height: 0;
              @include transition($transitionValue);
            }
            &.active {
              > a {
                @include crossBrowser(box-shadow,(rgba($black, 0.25) 0 1px 0, inset rgba($white, 0.16) 0 0 15px 0));
                border-right: 5px solid;
                &:hover, &:focus {
                  background: transparent;
                  color: $white;
                  &:after {
                    color: $white;
                  }
                }
              }
              .nav.child_menu {
                height: auto;
              }
            }
            > a {
              margin-bottom: 0;
              position: relative;
              display: block;
              padding: 7px 15px;
              color: $white;
              font-weight: $fwRegular;
              border-right: 5px solid transparent;
              @include transition($transitionValue);
              &:hover, &:focus {
                text-shadow: rgba($black, 0.25) 0 -1px 0;
                background: $white;
                @include crossBrowser(box-shadow,(rgba($black, 0.25) 0 1px 0, inset rgba($white, 0.16) 0 0 15px 0));
                color: $blueLagoon;
                &:after {
                  color: $blueLagoon;
                }
              }
              i {
                font-size: 22px;
                left: -5px;
                position: relative;
                // @include centeredElem(50%,auto,0,-50%);
                // right: 15px;
              }
              span {
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
                margin-top: 3px;
              }
            }
          }
        }
      }
    }
    .nav_title {
      margin-top: 15px;
      a {
        display: block;
        img {
          display: block;
          margin: auto;
        }
      }
    }
  }
}

.nav {
  &.side-menu > li > a, &.child_menu > li > a {
    color: #E7E7E7;
    font-weight: $fwMedium;
  }
  &.child_menu {
    display: none;
    li {
      padding-left: 36px;
      &:before {
        background: $jungleGreen;
        bottom: auto;
        content: "";
        height: 8px;
        left: 24px;
        margin-top: 14px;
        position: absolute;
        right: auto;
        width: 8px;
        z-index: 1;
        border-radius: 50%;
      }
      &:after {
        border-left: 1px solid $jungleGreen;
        bottom: 0;
        content: "";
        left: 27px;
        position: absolute;
        top: 0;
      }
      &:hover, &:focus{
        background: rgba($jungleGreen, 0.3);
        a{
          color: $white;
          background: transparent;
        }
      }
      &.active{
        background: rgba($jungleGreen, 0.3);
        a{
          color: $white;
        }
        &:after {
          border-color: $white;
        }
        &:before {
          background: $white;
        }
      }
    }
    > li {
      a {
        color: rgba($white, 0.75);
        font-size: 12px;
        padding: 9px;
        &:hover, &:focus{
          background: transparent;
        }
      }
    }
  }
}
