.text-danger, .red {
  color: $cinnabar !important;
}

.headGrad {
  background: $blueGray;
}

.sidebarGrad{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007b86+0,005f68+100 */
  background: rgb(0,123,134); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,123,134,1) 0%, #002427 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,123,134,1) 0%,#002427 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,123,134,1) 0%,#002427 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007b86', endColorstr='#005f68',GradientType=0 ); /* IE6-9 */
}

.classDetailWrapper{
  @extend .borderWrapper;
}

.primary-color{
	color: $jungleGreen;
}