.attendanceWrap {
  .switch {
    margin-left: 30px;
  }
}

.table-responsive {
  border: 1px solid $jungleGreen + 25;
  border-radius: 4px;
  table {
    margin: 0;
    table-layout: auto;
    thead {
      color: $white;
      th {
        padding: 10px;
        font-size: 14px;
        border: 0;
        font-weight: $fwMedium;
        &:nth-child(odd) {
          background: $jungleGreen + 25;
        }
        &:nth-child(even) {
          background: $jungleGreen;
        }
        &.action-col{
          width: 120px;
        }
      }
    }
    > tbody {
      tr {
        &:nth-of-type(even) {
          background-color: $gallery;
          color: $mineShaft;
        }
        &:nth-of-type(odd) {
          background-color: $white;
          color: $mineShaft;
        }
        &.editable-row{
          cursor: pointer; 
        }
      }
      td {
        padding: 10px;
        font-size: 14px;
        &.longDesc {
          max-width: 480px;
        }
        .table-txt-icon{
          margin-left: 7px;
          color: $jungleGreen;
        }
        .fieldWithIcon {
          .form-control {
            width: calc(100% - 35px);
          }
          a {
            @extend .inlineMiddle;
            padding-left: 10px;
          }
        }
        i{
          cursor: pointer;
        }
        &.col-with-edit{
          position: relative;
          padding-right: 20px;
          .table-txt-icon{
            margin-left: 0;
            position: absolute;
            right: 10px;
          }
        }
      }
    }
    a {
      .fa-trash {
        color: $cinnabar;
      }
      .fa-plus {
        color: $orient;
        margin-top: 35px;
      }
      &:hover {
        .fa-trash {
          color: $cinnabar - 15;
        }
        .fa-plus {
          color: $orient - 15;
        }
      }
      i {
        font-size: 16px;
        &[class*="icon"] {
          font-size: 20px;
        }
      }
    }
    &.table-bordered {
      border: 0;
      thead {
        th {
          border: 1px solid;
          &:nth-child(odd) {
            border-color: $jungleGreen + 25;
          }
          &:nth-child(even) {
            border-color: $jungleGreen;
          }
        }
      }
    }
    .icon-edit {
      font-size: 16px;
      cursor: pointer;
    }
  }
  .attendanceWrap {
    td {
      &:last-child {
        text-align: left;
      }
    }
    .radioWrap, .checkWrap {
      > div {
        margin-left: 15px;
        &:first-child {
          margin-left: 15px;
        }
      }
    }
  }
  .assingmentView {
    > tbody {
      td {
        &:last-child {
          a {
            @extend .inlineMiddle;
            @extend .noDeco;
          }
          i {
            color: $white;
            font-size: 15px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            border-radius: 5px;
            display: inline-block;
          }
          .icon-delete {
            background: $cinnabar;
          }
          .icon-eye {
            background: $jungleGreen;
          }
          .icon-edit {
            background: $success;
          }
        }
      }
    }
  }
  .editCurrentExam {
    position: relative;
    .eceTxt {
      font-size: 12px;
      color: $white;
      opacity: 0;
      background: rgba($black, 0.75);
      width: 100%;
      display: block;
      text-align: center;
      height: 100%;
      z-index: 5;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      @include transition($transitionValue);
      i {
        width: 100%;
        @include centeredElem(50%, 0, 0, -50%);
      }
    }
    &:hover {
      .eceTxt {
        opacity: 1;
      }
    }
  }
}

.fixedColumnGrid {
  .form-group {
    label {
      margin-bottom: 0;
      margin-right: 10px;
      @extend .inlineMiddle;
    }
    .form-control {
      @extend .inlineMiddle;
      width: auto;
      min-width: 100px;
    }
  }
  .table-responsive {
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border: 0;
    table {
      table-layout: auto;
    }
    .scroller {
      padding-left: 220px;
      overflow-x: auto;
      overflow-y: visible;
      padding-bottom: 5px;
    }
    thead {
      th {
        text-align: center;
        padding: 5px;
        white-space: nowrap;
        span {
          display: block;
        }
      }
    }
    .fxGr, .fxSn {
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      left: 0;
      height: 50px;
      text-transform: capitalize;
    }
    .fxGr {
      width: 70px;
    }
    .fxSn {
      width: 150px;
      left: 70px;
    }
    tbody {
      td {
        padding: 5px;
        height: 30px;
        text-align: center;
        border: 0;
        &.fxGr, &.fxSn {
          height: 31px;
        }
        &:last-child {
          text-align: center;
        }
      }
      tr {
        &:nth-of-type(even) {
          td {
            &.fxGr, &.fxSn {
              background-color: inherit;
            }
          }
        }
        &:nth-of-type(odd) {
          td {
            &.fxGr, &.fxSn {
              background-color: $white;
              color: $mineShaft;
            }
          }
        }
      }
    }
  }
  &.fixedExamGrid {
    .table-responsive {
      .scroller {
        padding-left: 100px;
      }
      .fxGr {
        width: 100px;
        height: auto;
      }
      td.fxGr {
        height: 79px;
      }
      table {
        tr {
          th, td {
            @include Mq(XS) {
              min-width: 100px;
            }
          }
        }
      }
    }
  }
}

.timetableView {
  &.table-responsive {
    table {
      margin: 0;
      table-layout: auto;
      position: relative;
      width: auto;
      min-width: 100%;
      > thead {
        th {
          &:first-child {
            background: $blueGray;
          }
        }
      }
      > tbody {
        tr {
          td {
            height: 60px;
            vertical-align: middle;
            font-weight: $fwHardBold;
            min-width: 180px;
            &:first-child {
              width: 100px;
              min-width: 100px;
              background: $blueGray;
              color: $white;
              font-weight: $fwLight;
              border: 0;
            }
            > span {
              display: block;
              height: 90%;
              background: $jungleGreen;
              width: 90%;
              border-radius: 5px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              position: relative;
              color: $mineShaft;
              font-size: 14px;
              font-weight: $fwMedium;
              margin: auto;
              span {
                @include centeredElem(50%, 10px, 0, -50%);
              }
            }
            &.language {
              > span {
                background: rgba($curiousBlue, 0.5);
                border-left: 10px solid $curiousBlue;
              }
            }
            &.science {
              > span {
                background: rgba($warning, 0.5);
                border-left: 10px solid $warning;
              }
            }
            &.history {
              > span {
                background: rgba($orange, 0.5);
                border-left: 10px solid $orange;
              }
            }
            &.socialScience {
              > span {
                background: rgba($cinnabar, 0.5);
                border-left: 10px solid $cinnabar;
              }
            }
            &.artsAndPlay {
              > span {
                background: rgba($success, 0.5);
                border-left: 10px solid $success;
              }
            }
            &.break {
              position: absolute;
              width: calc(100% - 100px);
              text-align: center;
              line-height: 22px;
              font-size: 22px;
              text-transform: uppercase;
              font-weight: $fwLight;
              background: $blueGray;
              color: $white;
              height: 40px;
            }
            &.breakHelper {
              height: 40px;
            }
          }
        }
      }
    }
  }
}

.timetableEditAdd {
  &.table-responsive {
    table {
      > tbody {
        td {
          vertical-align: middle;
        }
      }
    }
  }
}

.scorecard {
  &.table-responsive {
    table {
      table-layout: fixed;
      min-width: 100%;
      width: auto;
      thead {
        th {
          text-align: center;
          position: relative;
          .twoCol {
            font-size: 0;
            text-align: center;
            padding-top: 5px;
            margin-bottom: -10px;
            &:before {
              content: "";
              border-top: 1px solid $white;
              position: absolute;
              left: 0;
              right: 0;
            }
            .half {
              @extend .inlineMiddle;
              width: 50%;
              font-size: 12px;
              line-height: 30px;
              padding: 0 10px;
              font-weight: $fwBold;
              + .half {
                border-left: 1px solid $white;
              }
            }
          }
          &:first-child {
            text-align: left;
          }
        }
      }
      > tbody {
        td {
          padding: 0;
          height: 40px;
          .twoCol {
            font-size: 0;
            text-align: center;
            .half {
              @extend .inlineMiddle;
              width: 50%;
              font-size: 14px;
              line-height: 40px;
              border-left: 1px solid $jungleGreen;
              padding: 0 10px;
              font-weight: $fwMedium;
              + .half {
                font-weight: $fwRegular;
              }
            }
          }
          span {
            line-height: 40px;
            padding: 10px;
          }
        }
        .resultTotal {
          td {
            border-top: 1px solid $mineShaft;
          }
        }
      }
      &.resultListing, &.resultCreation {
        thead {
          th {
            text-align: left;
          }
        }
      }
    }
  }
}

