//Fonts
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Acme', sans-serif;

$fwLight: 300;
$fwRegular: 400;
$fwMedium: 600;
$fwBold: 700;
$fwHardBold: 900;

//color pallet
$black: #000000;
$mineShaft: #333333;
$doveGray: #666666;
$dustGray: #999999;
$nobel: #BAB8B8;
$silver: #CCCCCC;
$gallery: #EDEDED;
$white: #ffffff;

$cinnabar: #E74C3C;
$success: #28a04d;
$warning: #FFCC00;
$orange: #F17807;
$curiousBlue: #0079A4;

$orient: #00618C;
$blueLagoon: #00838F;
$pacificBlue: #007b86;
$pacificBlueDark: #0c636b;
$jungleGreen: #26A69A;
$blueGray: #546E7A;

$transitionValue: all 400ms ease-in-out;

//responsive variables
$XXS: 480px;
$XS: 767px;
$SM: $XS + 1px;
$MD: 992px;
$LG: 1200px;
$HL: 650px;

$maxSM: $MD - 1px;
$maxMD: $LG - 1px;
