<div [ngBusy]="busy"></div>
<div class="borderWrapper">
  <div class="pageTitle" *ngIf="classMasterDetail">
    <h2><span>{{classMasterDetail.classroomName}}</span></h2>
  </div>
  <form>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Course</label>
          <autocomplete [bind]="" [dataList]="examCourses" [label]="'Course'" (change)="updateCourse($event)"
                        [key]="'text'">
          </autocomplete>
        </div>
      </div>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-bordered table-striped resultCreation" *ngIf="studentList">
      <thead>
      <tr>
        <th>GR No.</th>
        <th>Student</th>
        <th>Theory max({{studentList.theoryMarks}})</th>
        <th *ngIf="studentList.labMarks">Lab max({{studentList.labMarks}})</th>
        <th *ngIf="studentList.otherMarks">Other max({{studentList.otherMarks}})</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of studentList.resultList">
        <td><span>{{student.grNo}}</span></td>
        <td><span>{{student.studentName}}</span></td>
        <td><input type="number" class="form-control" [(ngModel)]="student.theoryMarks"></td>
        <td *ngIf="studentList.labMarks"><input type="number" class="form-control" [(ngModel)]="student.labMarks"></td>
        <td *ngIf="studentList.otherMarks"><input type="number" class="form-control" [(ngModel)]="student.otherMarks">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-group">
    <button class="btn btn-success" (click)="submitResult()" *ngIf="studentList">Submit</button>
  </div>
</div>
