<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>All Parents</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">Parents</li>
    </ol>
  </div>
<div [ngBusy]="busy"></div>
  <div class="form-group searchWithBtn">
    <input type="text" class="form-control" placeholder="Search Parent" name="search" [ngClass]="{'loading': !showGrid}" [(ngModel)]="searchKey" (keypress)="searchParent()">
    <button class="btn btn-primary" (click)="addParent()">Add Parent</button>
  </div>
  <div class="teachersGrid">
    <div *ngIf="!gridData">No Record Found.</div>
    <div *ngIf="showGrid">
      <app-grid [gridData]="gridData" [gridFor]="'parents'"></app-grid>
    </div>
  </div>
</div>
