<div [ngBusy]="busy"></div>
<div class="borderWrapper" *ngIf="classResults">
  <div class="pageTitle">
    <h2><span>Exam: {{classResults.examName}}</span></h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped resultCreation" *ngIf="classResults">
      <thead>
      <tr>
        <th>Class</th>
        <th>Total Students</th>
        <th>Passed Students</th>
        <th>isPublished</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let classResults of classResults.details">
        <td><span>{{classResults.className}}</span></td>
        <td><span>{{classResults.totalStudents}}</span></td>
        <td><span>{{classResults.passedStudents}}</span></td>
        <td><span>{{classResults.isPublished}}</span></td>
        <td>
          <a href="javascript:" (click)="createResult(classResults.classroomID)">
            <!--<i class="icon-check"></i>-->
            Create Result
          </a>
          <span>/</span>
          <a href="javascript:" (click)="classResultRemarks(classResults.classroomID)">
            <!--<i class="icon-pencil-edit" ></i>-->
            Add Remarks
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary" (click)="publishExamResult()"> Publish</button>
  </div>
</div>
