<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>All Teachers</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">All Teachers</li>
    </ol>
  </div>
  <div [ngBusy]="busy"></div>
  <div class="form-group searchWithBtn">
    <input type="text" class="form-control" (keypress)="searchTeacher()" [ngClass]="{'loading': !showGrid}" [(ngModel)]="searchKey" name="search"
           placeholder="Search Teachers">
    <button class="btn btn-primary" (click)="addTeacher()">Add Teacher</button>
  </div>
  <div class="teachersGrid">
    <div *ngIf="!gridData">No Record Found.</div>
    <div *ngIf="showGrid">
      <app-grid [gridData]="gridData" [gridFor]="'teachers'"></app-grid>
    </div>
  </div>
</div>
