<div class="borderWrapper">
  <div class="pageTitle">
    <h2 *ngIf="showData && !isEdit"><span>{{studentData.firstName}} {{studentData.lastName}}</span></h2>
    <h2 *ngIf="isEdit"><span>{{studentId ? 'Edit Student' : 'Add Student'}}</span></h2>
  </div>
  <div [ngBusy]="busy"></div>
  <form #studentForm="ngForm" (ngSubmit)="editStudent(studentForm.valid)" novalidate>
    <div [ngClass]="{'viewProfileInfoWrap' : !isEdit}">
      <div *ngIf="showData">
        <h3 class="clearfix">
          <span>Student Information</span>
          <button class="btn btn-primary pull-right" (click)="isEdit=true" *ngIf="!isEdit">Edit</button>
        </h3>
        <hr>
        <div class="generWithProfile">
          <app-image-upload [profileImage]="profileImg" (change)="updateImage($event)" [isEdit]="isEdit">
          </app-image-upload>
          <div class="generForm">
            <div class="clearfix">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label>GR No.</label>
                  <span *ngIf="!isEdit">{{studentData.grNo}}</span>
                  <div *ngIf="isEdit">
                    <input type="number" class="form-control" #grNo="ngModel" [(ngModel)]="editStudentData.grNo"
                      name="grNo" required>
                    <small class="text-danger" [hidden]="grNo.valid || (grNo.pristine && !studentForm.submitted)">
                      GR No.is required.
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Joining Date</label>
                  <span *ngIf="!isEdit">{{studentData.joinDate}}</span>
                  <datetime [datepicker]="joinDatePicker" [attr.required]="true" [timepicker]="false"
                    #joinDate="ngModel" *ngIf="isEdit" [(ngModel)]="editStudentData.joinDate" name="join Date">
                  </datetime>
                </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Name</label>
                  <span *ngIf="!isEdit">{{studentData.fullName}}</span>
                  <div *ngIf="isEdit">
                    <input type="text" class="form-control" #fullName="ngModel" [(ngModel)]="editStudentData.fullName"
                      name="fullName" required>
                    <small class="text-danger"
                      [hidden]="fullName.valid || (fullName.pristine && !studentForm.submitted)">
                      Name is required.
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Gender</label>
                  <span *ngIf="!isEdit">{{studentData.gender}}</span>
                  <div>
                    <div class="radioCheckWrap inlineMiddle" *ngIf="isEdit">
                      <div>
                        <input type="radio" id="maleStudent" #gender="ngModel" name="rb" value="M"
                          [(ngModel)]="editStudentData.gender" required>
                        <label for="maleStudent"><span>Male</span></label>
                        <input type="radio" id="femaleStudent" name="rb" #gender="ngModel" value="F"
                          [(ngModel)]="editStudentData.gender" required>
                        <label for="femaleStudent"><span>Female</span></label>
                      </div>
                      <small class="text-danger" [hidden]="gender.valid || (gender.pristine && !studentForm.submitted)">
                        Gender is required.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Blood Group</label>
                  <span *ngIf="!isEdit">{{studentData.bloodGroup}}</span>
                  <autocomplete *ngIf="isEdit" [dataList]="bloodGroups" [key]="'type'" label="Blood Groups"
                    (change)="updateBloodGroup($event)" [bind]="selectedBloodGroup"></autocomplete>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Date of Birth</label>
                  <span *ngIf="!isEdit">{{studentData.birthDate}}</span>
                  <datetime [datepicker]="birthDatePicker" [timepicker]="false" #dob="ngModel" *ngIf="isEdit"
                    [(ngModel)]="editStudentData.birthDate" name="birthDate" (ngModelChange)="validateStart($event)">
                  </datetime>
                  <small class="text-danger" [hidden]="editStudentData.birthDate || !studentForm.submitted">
                    Date Of Birth is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Nationality</label>
                  <span *ngIf="!isEdit">{{studentData.nationality}}</span>
                  <input type="text" *ngIf="isEdit" class="form-control" [(ngModel)]="editStudentData.nationality"
                    name="nationality">
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Religion</label>
                  <span *ngIf="!isEdit">{{studentData.religion}}</span>
                  <input type="text" *ngIf="isEdit" class="form-control" [(ngModel)]="editStudentData.religion"
                    name="religion">
                </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label>Address</label>
                  <span *ngIf="!isEdit">{{studentData.address}}</span>
                  <input type="text" class="form-control" *ngIf="isEdit" [(ngModel)]="editStudentData.address"
                    name="address">
                </div>
              </div>

            </div>
            <div class="clearfix">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Class</label>
                  <span *ngIf="!isEdit">{{editStudentData.classroomName}}</span>
                  <autocomplete *ngIf="isEdit" [dataList]="classes" [label]="'Class'" [bind]="editStudentData" (change)="updateClass($event)"
                    [key]="'classroomName'" [allowSearch]="'false'">
                  </autocomplete>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label>Guardian</label>
                  <span *ngIf="!isEdit">{{studentData.parent.fullName}}</span>
                  <autocomplete *ngIf="isEdit" [url]="'Parent/GetSelectListByPrefix'" [key]="'text'"
                    [bind]="editStudentData.parent" label="'Guardian'" (change)="updateParent($event)"></autocomplete>
                  <small class="text-danger" [hidden]="editStudentData.parentID || !studentForm.submitted">
                    Guardian is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="btn-group">
              <button class="btn btn-danger" (click)="cancel()" *ngIf="isEdit">Cancel</button>
              <button class="btn btn-success" *ngIf="isEdit" type="submit">{{submitType}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<hr>
<student-attendance [isChild]="'true'" *ngIf="!isEdit"></student-attendance>