<div [ngBusy]="busy"></div>
<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>Exam</span>
      <button class="btn btn-primary" *ngIf="!isEdit" (click)="editExam()">Edit</button>
    </h2>
  </div>
  <form [formGroup]="examDetailForm" (ngSubmit)="updateExam()" class="wpl-track-me" novalidate>
    <div class="examDetail" *ngIf="examDetail || isEdit" [ngClass]="{'examEdit': isEdit}">
      <div>
        <label>Exam Type: </label>
        <span *ngIf="!isEdit">{{examDetail.examType}}</span>
        <span *ngIf="isEdit">
            <autocomplete [bind]="examDetailEdit.examType"
                          [dataList]="examType"
                          [label]="'Exam Type'"
                          (change)="updateExamType($event)"
                          [key]="'text'"
                          [formValidator]="examDetailForm.controls.examType"
                          ngDefaultControl
                          >
            </autocomplete>
         </span>
      </div>
      <div>
        <label>Description: </label>
        <span *ngIf="!isEdit">{{examDetail.description}}</span>
        <input type="text" class="form-control" name="description" [ngModelOptions]="{standalone: true}" [(ngModel)]="examDetailEdit.description"
               *ngIf="isEdit"/>
      </div>
      <div>
        <label>Date/ Period: </label>
        <span *ngIf="!isEdit">{{examDetail.startDate}}, {{examDetail.endDate}}</span>
        <p-calendar *ngIf="isEdit"
                    name="peroid"
                    dateFormat="dd/M/yy"
                    selectionMode="range"
                    readonlyInput="true"
                    formControlName="range"></p-calendar>
        <small class="text-danger" *ngIf="!examDetailForm.controls['range'].valid && isEdit">Range is required.</small>
      </div>
      <div *ngIf="isEdit">
        <label>Classes: </label>
        <p-multiSelect name="classes"
                       [options]="classOptions"
                       [(ngModel)]="examDetailEdit.classes"
                       optionLabel="name"
                       formControlName="classes"
                       [styleClass]="caret"
                       ></p-multiSelect>
        <small class="text-danger" *ngIf="!examDetailForm.controls['classes'].valid">Class is required.</small>

      </div>
    </div>
    <div class="btn-group" *ngIf="isEdit">
      <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
      <button class="btn btn-success" type="submit" [disabled]="!examDetailForm.valid">Save</button>
    </div>
  </form>
</div>
<hr>
<div class="borderWrapper">
  <div class="pageTitle" *ngIf=!isEdit>
    <h2><span>Time Table</span>
      <button class="btn btn-primary" *ngIf="!isTimeTableEdit" (click)="editTable()">Edit</button>
    </h2>
  </div>
  <div class="fixedColumnGrid fixedExamGrid" *ngIf="examDetail && !isEdit">
    <div class="table-responsive">
      <div class="scroller">
        <table class="table table-bordred table-striped">
          <thead>
          <tr>
            <th class="fxGr">Date</th>
            <th *ngFor="let classes of examDetail.classes">{{classes.name}}</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let timeTable of timeTableEdit; let i = index">
            <td class="fxGr">{{convertStringToDate(timeTable.date) | date: 'd/M/yyyy'}}
            </td>
            <td *ngFor="let detail of timeTable.details; let j = index" class="editCurrentExam">
              <span>{{detail.course ? detail.course : '-'}}</span>
              <div class="eceTxt" data-toggle="modal" data-target="#addExam" data-backdrop="static"
                   data-keyboard="false" *ngIf="isTimeTableEdit" (click)="setTableIndex(i, j)">
                <i class="icon-pencil-edit" ></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addExam" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creat Exam For <span>Class 1</span></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="add_course">Course</label>
          <autocomplete *ngIf="showCoursesDropDown" [bind]="updatedTimeTable"
                        [dataList]="courseOptions"
                        [label]="'Course'"
                        (change)="updateCourse($event)"
                        [key]="'title'">

          </autocomplete>
        </div>
        <div class="form-group">
          <label for="duration">Duration (mins)</label>
          <input id="duration" class="form-control" [(ngModel)]="updatedTimeTable.duration" type="number"/>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="theory">Theory</label>
              <input id="theory" class="form-control" [(ngModel)]="updatedTimeTable.theoryMarks" type="number"/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="lab">Lab</label>
              <input id="lab" class="form-control" [(ngModel)]="updatedTimeTable.labMarks" type="number"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="lab">Other</label>
              <input id="lab" class="form-control" [(ngModel)]="updatedTimeTable.otherMarks" type="number"/>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateTimeTable()">Save changes
        </button>
      </div>
    </div>
  </div>
</div>
