<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>All Messages</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">Message Threads</li>
    </ol>
  </div>
  <div>
    <!--Message List-->
    <div class="row messageSearchWrapper">
      <div class="col-md-4 col-sm-5 messageSorting">
        <div class="form-group">
          <label>Show message sorted by</label>
          <select class="form-control">
            <option>newest</option>
            <option>date</option>
            <option>favourite</option>
          </select>
        </div>
      </div>
      <div class="col-md-8 col-sm-7">
        <div class="searchWrapper">
          <div class="searchField">
            <label>Search for</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Type something here..."
                     aria-describedby="search-field">
                                        <span class="input-group-addon"><i
                                          class="icon-search"></i></span>
            </div>
          </div>
          <div class="searchFieldNewButton">
            <a id="post_message" href="javascript:" class="btn btn-primary">Post a message</a>
          </div>
        </div>
      </div>
    </div>
    <div class="messageList">
      <div class="activityDay">
        <div class="adDetails">
          <ul>
            <li>
              <div class="userProf">
                <img src="images/profileImage.png" alt="">
                <h4>Sir Shoaib</h4>
              </div>
              <time>3 min ago</time>
              <div class="message">
                <h4><a class="viewMsg" href="javascript:">Sports Week</a></h4>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo</span>
                </p>
              </div>
              <div class="docsAdded">
                <i class="icon-attachment"></i>
              </div>
            </li>
            <li>
              <div class="userProf">
                <img src="images/profileImage.png" alt="">
                <h4>Miss Mumtaz</h4>
              </div>
              <time>3 min ago</time>
              <div class="message">
                <h4><a class="viewMsg" href="javascript:">Short Attendance Asim Kamal</a>
                  <span>3</span></h4>
                <p>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolo</span>
                </p>
              </div>
              <div class="docsAdded">
                <i class="icon-attachment"></i>
              </div>
            </li>
            <li>
              <div class="userProf">
                <img src="images/profileImage.png" alt="">
                <h4>Sir Majid</h4>
              </div>
              <time>3 min ago</time>
              <div class="message">
                <h4><a class="viewMsg" href="javascript:">Dress Code</a>
                  <span>1</span></h4>
                <p>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons</span>
                </p>
              </div>
              <div class="docsAdded">
                <i class="icon-attachment"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>Post New Message</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">New Message</li>
    </ol>
  </div>
  <!--Post New Message-->
  <div class="postNewMsg">
    <div class="messageWrapper">
      <input class="form-control" type="text" placeholder="To...">
      <input class="form-control" type="text" placeholder="CC...">
      <input class="form-control" type="text" placeholder="Type the subject of this message...">
      <textarea class="form-control" placeholder="Type your message here..."></textarea>
    </div>
    <div class="clearfix">
      <a id="cancel_msg" href="javascript:" class="btn btn-default pull-left">Cancel</a>
      <a href="javascript:" class="btn btn-primary pull-right">Post this message</a>
    </div>
  </div>
</div>
<hr>
<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>View Message</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">View Message</li>
    </ol>
  </div>
  <!--Message Thread-->
  <div class="msgThreadWrap">
    <div class="row">
      <div class="col-md-9">
        <h2 class="msgthreadHeading">Short Attendance Asim Kamal</h2>
        <ul>
          <li>
            <div class="userProf">
              <img src="images/profileImage.png" alt="">
              <h4>Miss Mumtaz
                <time>2 hour ago</time>
              </h4>
            </div>
            <div class="fullMsg">Asalam u alikum Parent's of Asim!,<br>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.<br>Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis
              iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
              sit aspernatur.<br><br>Thank you
            </div>
            <div class="docsAdded">
              <h4>Attach:</h4>
              <ul>
                <li>
                  <i class="icon-attachment"></i>
                  <h5><span>Note.docx</span></h5>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="userProf">
              <img src="images/profileImage.png" alt="">
              <h4>Parent <small>Asim Kamal</small>
                <time>36 min ago</time>
              </h4>
            </div>
            <div class="fullMsg">Walikum asalam Miss Mumtaz,<br>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.<br><br>Thank you
            </div>
            <div class="docsAdded">
              <h4>Attach:</h4>
              <ul>
                <li>
                  <i class="icon-attachment"></i>
                  <h5><span>Medical Report.docx</span></h5>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="currentUserComment">
          <img src="images/profileImage.png" class="img-responsive" alt="">
          <div class="postNewMsg">
            <div class="messageWrapper">
              <textarea class="form-control" placeholder="Type your message here..."></textarea>
            </div>
            <div class="clearfix">
              <a href="javascript:" class="btn btn-primary pull-right">Post this message</a>
              <a id="cancel_msg2" href="javascript:" class="btn btn-default pull-left">Cancel</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="detailsWrapper">
          <div class="dwHeader">
            <h2>Details</h2>
          </div>
          <div class="dwBody">
            <div>
              <small>Posted By</small>
              <h3>Miss Mumtaz</h3>
            </div>
            <div>
              <small>Created</small>
              <h3>02:23PM 07/20/17</h3>
            </div>
            <div>
              <small>Updated</small>
              <h3>09:34AM 07/25/17</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
