<div [ngBusy]="busy"></div>
<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>Mark Attendance</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">Mark Attendance</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-4" *ngIf="classList && !selectedClass">
      <div class="form-group">
        <label>Class</label>
        <autocomplete (change)="updateClass($event)"
                      [dataList]="classList"
                      [bind]="selectedClass"
                      [label]="'Class'"
                      [key]="'class'"
                      [isDisabled]="!!selectedClass">
        </autocomplete>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Date</label>
        <datetime *ngIf="classList" [datepicker]="datePickerOpts" [timepicker]="false"
                  [(ngModel)]="date" name="Date" (ngModelChange)="getClassInfo()"></datetime>
      </div>
    </div>
  </div>
  <div *ngIf="showAttendanceMarker">
    <h3>Attendance</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped attendanceWrap">

        <thead>
        <th>S.No.</th>
        <th>GR.NO.</th>
        <th>Names</th>
        <th>Present / Absent</th>
        </thead>

        <tbody>
        <tr *ngFor="let attendance of classAttendance.studentAttendance; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{attendance.grNo}}</td>
          <td>{{attendance.studentName}}</td>
          <td>
            <div class="switch">
              <input id="cmn-toggle-{{i}}" class="cmn-toggle cmn-toggle-round" type="checkbox"
                     (change)="markAttendance(attendance.attendanceType, i)"
                     [checked]="attendance.attendanceType == 'P'">
              <label for="cmn-toggle-{{i}}"></label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="btn-group">
      <button class="btn btn-success" (click)="saveAttendance()">Save</button>
    </div>
  </div>
</div>
