<div class="wrapper100 loginWrapper">
  <div id="main" class="container">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.valid)" class="wpl-track-me" novalidate>
      <img class="img-responsive mainLogo" src="../../../images/logo.png" alt="" />
      <div class="form-group">
        <input type="text"
               class="form-control"
               name="username"
               placeholder="Enter New Password"
               required
               minlength="6">
      </div>
      <div class="form-group">
        <input type="text"
               class="form-control"
               name="username"
               placeholder="Re-type Password"
               required
               minlength="6">
      </div>

      <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <div class="login-submit">
            <a href="javascript:" class="btn btn-success">Save</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
