<div class="main-container collapse" [ngClass]="{'in': isWindowLarge}" id="main-sidebar">
  <app-side-menu></app-side-menu>
  <app-header></app-header>
  <div class="internalPushWrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

