<div [ngBusy]="busy"></div>
<div class="borderWrapper">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Class</label>
                <autocomplete [bind]="" [dataList]="classList" [label]="'Classroom'" (change)="updateClassroom($event)" [key]="'text'">
                </autocomplete>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Student</label>
                <autocomplete *ngIf="showStudentDropDown" [bind]="" [dataList]="studentList" [label]="'Student'" [isDisabled]="!classroomId"
                    (change)="updateStudent($event)" [key]="'text'">
                </autocomplete>
            </div>
        </div>
    </div>

    <div class="pageTitle" *ngIf="result">
        <h2><span>Result of {{result.studentName}}</span></h2>
    </div>
    <div class="examDetail" *ngIf="result">
        <div>
            <label>Exam Type: </label>
            <span>{{result.examType}}</span>
        </div>
        <div>
            <label>Academic Year: </label>
            <span>{{result.academicYear}}</span>
        </div>
        <div>
            <label>Start Date: </label>
            <span>{{result.startDate}}</span>
        </div>
        <div>
            <label>End Date: </label>
            <span>{{result.endDate}}</span>
        </div>
    </div>
    <div class="table-responsive scorecard" *ngIf="result">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Theory
                        <div class="twoCol">
                            <div class="half">Total</div>
                            <div class="half">Obtained</div>
                        </div>
                    </th>
                    <th>Lab
                        <div class="twoCol">
                            <div class="half">Total</div>
                            <div class="half">Obtained</div>
                        </div>
                    </th>
                    <th>Other
                        <div class="twoCol">
                            <div class="half">Total</div>
                            <div class="half">Obtained</div>
                        </div>
                    </th>
                    <th>Total
                        <div class="twoCol">
                            <div class="half">Total</div>
                            <div class="half">Obtained</div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultDetail of result.detailList">
                    <td>
                        <span>{{resultDetail.course}}</span>
                    </td>
                    <td>
                        <div class="twoCol">
                            <div class="half">{{resultDetail.theoryTotal}}</div>
                            <div class="half">{{resultDetail.theoryObtained}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="twoCol">
                            <div class="half">{{resultDetail.labTotal}}</div>
                            <div class="half">{{resultDetail.labObtained}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="twoCol">
                            <div class="half">{{resultDetail.otherTotal}}</div>
                            <div class="half">{{resultDetail.otherObtained}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="twoCol">
                            <div class="half">{{resultDetail.courseTotal}}</div>
                            <div class="half">{{resultDetail.courseObtained}}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="dashedSep" *ngIf="result">
    <div class="examDetail" *ngIf="result">
        <div>
            <label>Total Marks: </label>
            <span>{{result.totalMarks}}</span>
        </div>
        <div>
            <label>Marks Obtained: </label>
            <span>{{result.totalObtained}}</span>
        </div>
        <div>
            <label>Percentage: </label>
            <span>{{result.percentage}}%</span>
        </div>
        <div>
            <label>Grade: </label>
            <span>{{result.grade}}</span>
        </div>
        <div>
            <label>Remarks: </label>
            <span>{{result.remarks}}</span>
        </div>
    </div>
</div>
