<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>All Students</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">Students</li>
    </ol>
  </div>
  <div [ngBusy]="busy"></div>
  <div class="form-group searchWithBtn">
    <input type="text" class="form-control" [ngClass]="{'loading': !showGrid}" (keyup)="searchStudent()" [(ngModel)]="searchKey" name="search"
           placeholder="Search Students">

    <button class="btn btn-primary" (click)="addStudent()">Add Student</button>
  </div>
  <div *ngIf="!gridData">No Record Found.</div>
  <div *ngIf="showGrid && gridData.content">
    <app-grid [gridData]="gridData" [gridFor]="'students'"></app-grid>
  </div>
</div>
