<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>All Assignments</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">Assignment</li>
    </ol>
  </div>
  <h3>
    <span>Assignment List</span>
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addAssignment">Add New <i class="fa fa-plus vMiddle"></i></button>
  </h3>
  <hr>
  <div class="table-responsive">
    <table class="table table-bordered table-striped assingmentView">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Classroom</th>
        <th>Submission Deadline</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Lorem Ipsum</td>
        <td class="longDesc">Lorem ipsum dolor sit amet, eos in porro instructior, pertinax theophrastus no sed. Soleat iriure eligendi an mea. Option incorrupte pri in. Posse tibique ad per.</td>
        <td>Class 5 - A</td>
        <td>9/11/17</td>
        <td>
          <a href="javascript:">
            <i title="view" class="icon-eye"></i>
          </a>
          <a href="javascript:">
            <i title="edit" class="icon-edit"></i>
          </a>
          <a href="javascript:">
            <i title="delete" class="icon-delete"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Lorem Ipsum</td>
        <td class="longDesc">Lorem ipsum dolor sit amet, eos in porro instructior, pertinax theophrastus no sed. Soleat iriure eligendi an mea. Option incorrupte pri in. Posse tibique ad per.</td>
        <td>Class 5 - A</td>
        <td>9/11/17</td>
        <td>
          <a href="javascript:">
            <i title="view" class="icon-eye"></i>
          </a>
          <a href="javascript:">
            <i title="edit" class="icon-edit"></i>
          </a>
          <a href="javascript:">
            <i title="delete" class="icon-delete"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Lorem Ipsum</td>
        <td class="longDesc">Lorem ipsum dolor sit amet, eos in porro instructior, pertinax theophrastus no sed. Soleat iriure eligendi an mea. Option incorrupte pri in. Posse tibique ad per.</td>
        <td>Class 5 - A</td>
        <td>9/11/17</td>
        <td>
          <a href="javascript:">
            <i title="view" class="icon-eye"></i>
          </a>
          <a href="javascript:">
            <i title="edit" class="icon-edit"></i>
          </a>
          <a href="javascript:">
            <i title="delete" class="icon-delete"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>English <small>Class 5-A</small></span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">Assignment</li>
    </ol>
  </div>
  <div class="assignmentDetail">
    <h3>Prepare 20 Idioms with their meanings, and sentences based on them.</h3>
    <hr class="dashedSep">
    <div class="assignDates">
      <div>
        <i class="icon-tag"></i>
        <span><strong>Assigned On:</strong> 21/8/17</span>
      </div>
      <div>
        <i class="icon-tag"></i>
        <span><strong>Submission deadline:</strong> 27/8/17</span>
      </div>
      <div>
        <i class="icon-tag"></i>
        <span><strong>Total marks:</strong> 15</span>
      </div>
    </div>
    <h4>Description:</h4>
    <div class="assignmentDesc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
    <h4>Attached Files:</h4>
    <div class="attachmentWrap">
      <div class="attacment">
        <i class="icon-attachment"></i>
        <span>word-document.docx</span>
      </div>
      <div class="attacment">
        <i class="icon-attachment"></i>
        <span>excel-document.xls</span>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addAssignment" tabindex="-1" role="dialog" aria-labelledby="addAssignment">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Assignment</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Classroom</label>
              <select class="form-control">
                <option>Class 1</option>
                <option>Class 2</option>
                <option>Class 3</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Course</label>
              <select class="form-control">
                <option>English</option>
                <option>Maths</option>
                <option>Physics</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Assigned On</label>
              <input class="form-control" type="date">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Submission Deadline</label>
              <input class="form-control" type="date">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Total Marks</label>
              <input class="form-control" type="number">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Attach File</label>
              <div class="input-group">
                <input type="text" class="form-control" aria-describedby="file-attach">
                <a href="javascript:" class="input-group-addon" id="file-attach"><i class="icon-attachment"></i></a>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="radioCheckWrap">
              <input id="notify" type="checkbox">
              <label for="notify"><span>Notify in homework diary.</span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
