<div class="modal fade" id="addAssignment" tabindex="-1" role="dialog" aria-labelledby="addAssignment">
  <div class="modal-dialog modal-md" role="document">
    <form  [formGroup]="assignmentForm" (ngSubmit)="submit()" #ngForm="ngForm" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add New Assignment</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Classroom</label>
                <autocomplete [dataList]="classList" (change)="updateClass($event)" [bind]="PreSelectedClass()"  [allowClear]="true" [label]="'Class'" [key]="'className'"
                              [formValidator]="assignmentForm.controls.className"
                >
                </autocomplete>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Title</label>
                <input class="form-control" type="text" name="title" formControlName="title">
                <small class="text-danger" *ngIf="!assignmentForm.controls['title'].valid && assignmentForm.get('title').touched ">Title is required.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Course</label>
                <autocomplete [dataList]="courseList" (change)="updateCourse($event)" [bind]="PreSelectedCourse()" [key]="'title'" [label]="'Course'"
                              [formValidator]="assignmentForm.controls.courseName">
                </autocomplete>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description" formControlName="description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Assigned On</label>
                <datetime [datepicker]="datePicker" [timepicker]="false" formControlName="assignedOn" name="Assign Date"></datetime>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Submission Deadline</label>
                <datetime [datepicker]="datePicker" [timepicker]="false" formControlName="endDate" name="DeadLine Date"></datetime>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Total Marks</label>
                <input class="form-control" type="number" name="totalMarks" formControlName="totalMarks">
                <small class="text-danger" *ngIf="!assignmentForm.controls['totalMarks'].valid && assignmentForm.get('totalMarks').touched ">Total Marks is required.</small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Attach File</label>
                <div class="input-group">
                  <input type="text" class="form-control" aria-describedby="file-attach">
                  <a href="javascript:" class="input-group-addon" id="file-attach"><i class="icon-attachment"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="radioCheckWrap">
                <input id="notify" type="checkbox">
                <label for="notify"><span>Notify in homework diary.</span></label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" #close>Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
