<div [ngBusy]="busy"></div>
<div class="borderWrapper" *ngIf="classResult">
  <div class="pageTitle">
    <h2><span>Classroom: {{classMasterDetail.classroomName}}</span></h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped resultCreation" *ngIf="classResult">
      <thead>
      <tr>
        <th>GrNo.</th>
        <th>Student Name</th>
        <th>Total Marks</th>
        <th>Marks Obtained</th>
        <th>Percentage</th>
        <th>Grade</th>
        <th>Remarks</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let classResults of classResult">
        <td><span>{{classResults.grNo}}</span></td>
        <td><span>{{classResults.studentName}}</span></td>
        <td><span>{{classResults.total}}</span></td>
        <td><span>{{classResults.obtained}}</span></td>
        <td><span>{{classResults.percentage}}</span></td>
        <td><span>{{classResults.grade}}</span></td>
        <td><input type="text" class="form-control" [(ngModel)]="classResults.remarks"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-group">
    <button class="btn btn-danger">Cancel</button>
    <button class="btn btn-primary" (click)="save()"> Save </button>
    <button class="btn btn-success" (click)="publish()">Publish</button>
  </div>
</div>

