<div class="input-group date" (click)="showCalendar = !showCalendar" >
  <input class="form-control " type="text" placeholder="Choose Month" [(ngModel)]="monthYear" disabled>
  <div class="input-group-addon">
    <span class="glyphicon glyphicon-th"></span>
  </div>
</div>
<div class="monthWrapper" *ngIf="showCalendar">
  <div class="yearControl">
    <a>
      <i class="fa fa-angle-left" (click)="decrementYear()"></i>
      <strong>{{selectedYear}}</strong>
      <i class="fa fa-angle-right" (click)="incrementYear()"></i>
    </a>
  </div>
  <ul>
    <li [ngClass]="{'current': selectedMonth == month}" *ngFor="let month of months">
      <a href="javascript:void(0)" (click)="changeMonth(month)">{{month}}</a>
    </li>
  </ul>
</div>