<div [ngBusy]="busy"></div>
<div class="borderWrapper">
  <div class="pageTitle">
    <h2><span>All Assignments</span></h2>
    <ol class="breadcrumb">
      <li><a href="javascript:">Dashboard</a></li>
      <li class="active">Assignment</li>
    </ol>
  </div>
  <h3>
    <span>Assignment List</span>
    <button #showModal class="btn btn-primary pull-right" data-toggle="modal" data-target="#addAssignment">Add New <i class="fa fa-plus vMiddle"></i></button>
  </h3>
  <hr>
  <div *ngIf="showGrid && gridData.content">
    <app-grid [gridData]="gridData" [gridFor]="'assignments'" [onAction]="gridAction" (eventEmit)="eventHandler($event)"></app-grid>
  </div>
</div>
<edit-modal (change)="updateAssignmentList()"></edit-modal>

