<div [ngBusy]="busy"></div>
<div class="borderWrapper">
  <div class="pageTitle" >
    <h2>Attendance<span *ngIf="selectedClassName"> of {{selectedClassName}}</span></h2>
  </div>
  <div class="form-group">

    <div class="row">
      <div class="col col-lg-4">
        <label>Class</label>
        <autocomplete [dataList]="classes"
                      [label]="'Class'"
                      (change)="updateClass($event)"
                      [key]="'class'"
                      [allowSearch]="'false'">

        </autocomplete>
      </div>
      <div class="col col-lg-4">
        <label>Date</label>
        <datetime [datepicker]="datePicker" [timepicker]="false"
                  [(ngModel)]="date" name="joinDate" (ngModelChange)="updateAttendanceGrid()"></datetime>
      </div>
    </div>
  </div>
  <div class="fixedColumnGrid" *ngIf="attendance">
    <div class="table-responsive">
      <div class="scroller">
        <table class="table table-striped attendanceWrap">
          <thead>
          <tr>
            <th class="fxGr">GR.NO.</th>
            <th class="fxSn">Students Name</th>
            <th *ngFor="let attendanceData of attendance[0].attendance">
              <span>{{dayName(attendanceData.date)}}</span>
              {{getDay(attendanceData.date)}}
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let studentRecord of attendance">
            <td class="fxGr">{{studentRecord.grNo}}</td>
            <td class="fxSn" title="{{studentRecord.studentName}}">{{studentRecord.studentName}}</td>
            <td [ngClass]="{'present': week.attendanceType == 'P', 'absent': week.attendanceType== 'A'}"
                *ngFor="let week of studentRecord.attendance">{{week.attendanceType}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
