<div class="wrapper100 loginWrapper">
  <div id="main" class="container">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.valid)" class="wpl-track-me" novalidate>
      <img class="img-responsive mainLogo" src="../../../images/logo.png" alt=""/>
      <div class="form-group">
        <input type="email"
               class="form-control"
               placeholder="Enter your email"
               required>
      </div>

      <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <div class="login-submit">
            <a href="javascript:" class="btn btn-success">Send</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
