<div [ngBusy]="busy"></div>
<div class="borderWrapper">
  <div class="pageTitle" *ngIf="selectedStudent">
    <h2>
      <span>{{isChild ? 'Attendance' : selectedStudent.name}}</span>
    </h2>
  </div>

  <div class="row attendanceControlsWrapper">
    <div class="col-sm-4" *ngIf="allowStudentSearch && !isChild">
      <label>Students</label>
      <autocomplete (change)="updateStudent($event)" [url]="'student/GetSelectList'" [label]="'Students'" [key]="'text'">

      </autocomplete>
    </div>
    <div class="col-sm-4">
      <label>Month/Year</label>
      <month-year-picker (change)="updateMonth($event)"></month-year-picker>
    </div>
    <div class="col-sm-4 pull-right">
      <button class="btn btn-primary pull-right" *ngIf="!isEdit && AttendanceData" (click)="isEdit = true">Edit</button>
      <button class="btn btn-success pull-right" *ngIf="AttendanceData && isEdit"
      (click)="saveAttendance()" [disabled]="!updatedAttendance.attendance.length">Save Attendance</button>
    </div>
  </div>
  <div class="fullattendanceWrap" *ngIf="showAttendance">
    <h3>
      <span>{{monthFullName[date.getMonth()]}}</span>
    </h3>
    <ul>
      <li>
        <a href="javascript:">Sun</a>
      </li>
      <li>
        <a href="javascript:">Mon</a>
      </li>
      <li>
        <a href="javascript:">Tue</a>
      </li>
      <li>
        <a href="javascript:">Wed</a>
      </li>
      <li>
        <a href="javascript:">Thu</a>
      </li>
      <li>
        <a href="javascript:">Fri</a>
      </li>
      <li>
        <a href="javascript:">Sat</a>
      </li>
    </ul>
    <ul class="fcDays">
      <li class="absent" *ngFor="let offset of dayOffset">

      </li>
      <li (click)="changeAttendance(i, attendance)" [ngClass]="{'present': attendance.attendanceType == 'P' && getDay(attendance.date) != 6 && getDay(attendance.date) != 0,
                    'absent': attendance.attendanceType == 'A' && getDay(attendance.date) != 6 && getDay(attendance.date) != 0,
                    'Na':  attendance.attendanceType == 'NA' && getDay(attendance.date) != 6 && getDay(attendance.date) != 0,
                    'weekend':  getDay(attendance.date) == 0 || getDay(attendance.date) == 6}" *ngFor="let attendance of AttendanceData.attendance; let i = index">
        <a href="javascript:">{{getDateDay(attendance.date)}}</a>
      </li>
    </ul>
  </div>
</div>
