<div class="table-responsive">
  <table class="table table-bordered table-striped">

    <thead>
    <tr>
      <th *ngFor="let header of gridHeadings">{{header.heading}}</th>
      <th *ngIf="onAction">Action</th>
    </tr>
    </thead>

    <tbody>
    <tr class="editable-row" *ngFor="let content of gridData.content" (click)="viewGridItem(content)">
      <td *ngFor="let item of gridHeadings">{{item.isDate ? (content[item.key] | date:'fullDate') : content[item.key]}}</td>
      <td *ngIf="onAction">
        <i *ngFor="let item of onAction" class="{{item.icon}}" aria-hidden="true" (click)="action($event, content, item)"></i>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<ul class="pagination" *ngIf="pageCount > 0">
  <li (click)="changePage(currentPage - 1)"><a href="javascript:"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
  <li [ngClass]="{'active': currentPage == (i + 1)}" *ngFor="let count of pageCount; let i = index" (click)="changePage(i + 1)"><a >{{i + 1}}</a></li>
  <li (click)="changePage(currentPage + 1)"><a ><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
</ul>
