@import url(vendor/flaticon.css);
/*transform mixin*/
@font-face {
  font-family: 'Rockwell';
  src: url("../fonts/Rockwell-Bold.eot");
  src: url("../fonts/Rockwell-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rockwell-Bold.woff") format("woff"), url("../fonts/Rockwell-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Rockwell';
  src: url("../fonts/Rockwell.eot");
  src: url("../fonts/Rockwell.eot?#iefix") format("embedded-opentype"), url("../fonts/Rockwell.woff") format("woff"), url("../fonts/Rockwell.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.text-danger, .red {
  color: #E74C3C !important; }

.headGrad {
  background: #546E7A; }

.sidebarGrad, .main-container .left_col {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007b86+0,005f68+100 */
  background: #007b86;
  /* Old browsers */
  background: -moz-linear-gradient(top, #007b86 0%, #002427 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #007b86 0%, #002427 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #007b86 0%, #002427 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007b86', endColorstr='#005f68',GradientType=0 );
  /* IE6-9 */ }

.gridCustom.panel .panel-body {
  padding: 0;
  position: relative; }
.gridCustom.panel .panel-heading .panel-title {
  line-height: 30px; }
.gridCustom .table {
  margin-bottom: 0; }
  .gridCustom .table thead th {
    padding: 10px; }
  .gridCustom .table td p a {
    display: block;
    text-align: center; }
    .gridCustom .table td p a .fa-pencil {
      color: #0079A4; }
    .gridCustom .table td p a .fa-trash {
      color: #E74C3C; }
.gridCustom .pagination {
  position: absolute;
  top: auto;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.pagination > li {
  display: inline-block;
  vertical-align: middle;
  font-family: "Rockwell"; }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 50%; }
  .pagination > li.active > a, .pagination > li.active > span {
    background: #26A69A;
    color: #ffffff; }
    .pagination > li.active > a:hover, .pagination > li.active > a:focus, .pagination > li.active > span:hover, .pagination > li.active > span:focus {
      background: #26A69A;
      color: #ffffff;
      width: 37px;
      height: 37px; }
  .pagination > li > a, .pagination > li > span {
    color: #26A69A;
    border-radius: 50%;
    border-color: #26A69A;
    background: #ffffff;
    width: 37px;
    height: 37px;
    padding: 0;
    float: none;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
    .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
      background: #26A69A;
      color: #ffffff; }

.panel-group .panel .panel-heading {
  background-color: #0c636b;
  color: #ffffff; }
  .panel-group .panel .panel-heading i {
    margin-right: 5px; }
.panel-group .panel .panel-body {
  padding: 20px 20px 0; }
  .panel-group .panel .panel-body .row [class*="col-"] {
    margin-bottom: 20px; }
  .panel-group .panel .panel-body .row:first-child {
    margin-top: 0; }
  .panel-group .panel .panel-body .row .box {
    border-color: #00838F;
    background: #00838F;
    color: #00838F; }

.selectWrapper {
  position: relative; }
  .selectWrapper:after {
    content: "\f078";
    color: #000000;
    font-size: 13px;
    font-family: 'FontAwesome';
    width: 18px;
    height: 28px;
    right: 3px;
    line-height: 26px;
    position: absolute;
    top: 50%;
    left: auto;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: #ffffff;
    z-index: 2;
    pointer-events: none;
    text-align: center; }
  .selectWrapper select {
    padding-right: 25px;
    cursor: pointer; }

.input-group-addon {
  background-color: #007b86;
  color: #ffffff;
  border: #007b86; }

.btn {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  font-family: "Roboto", sans-serif; }
  .btn.btn-primary {
    background: transparent;
    border-radius: 0;
    border: 1px solid #007b86;
    color: #007b86;
    min-width: 130px;
    font-weight: 600; }
    .btn.btn-primary:focus, .btn.btn-primary:hover {
      background: #007b86;
      color: #ffffff; }
  .btn.btn-success {
    background: transparent;
    border-radius: 0;
    border: 1px solid #28a04d;
    color: #28a04d;
    min-width: 130px;
    font-weight: 600; }
    .btn.btn-success:focus, .btn.btn-success:hover {
      background: #28a04d;
      color: #ffffff; }
  .btn.btn-danger {
    background: transparent;
    border-radius: 0;
    border: 1px solid #E74C3C;
    color: #E74C3C;
    min-width: 130px;
    font-weight: 600; }
    .btn.btn-danger:focus, .btn.btn-danger:hover {
      background: #E74C3C;
      color: #ffffff; }
  .btn.btn-warning {
    background: transparent;
    border-radius: 0;
    border: 1px solid #FFCC00;
    color: #FFCC00;
    min-width: 130px;
    font-weight: 600; }
    .btn.btn-warning:focus, .btn.btn-warning:hover {
      background: #FFCC00;
      color: #ffffff; }
  .btn.btn-default {
    background: transparent;
    border-radius: 0;
    border: 1px solid #333333;
    color: #333333;
    min-width: 130px;
    font-weight: 600; }
    .btn.btn-default:focus, .btn.btn-default:hover {
      background: #333333;
      color: #ffffff; }

.text-danger {
  text-transform: capitalize; }

.switch .cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }
  .switch .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    padding: 2px;
    width: 50px;
    height: 25px;
    margin-bottom: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px; }
    .switch .cmn-toggle + label:before, .switch .cmn-toggle + label:after {
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
      content: ""; }
    .switch .cmn-toggle + label:before {
      right: 1px;
      background-color: #E74C3C;
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -ms-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;
      border-radius: 60px;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px; }
    .switch .cmn-toggle + label:after {
      width: 25px;
      background-color: #ffffff;
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -ms-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%; }
  .switch .cmn-toggle:checked + label:before {
    background-color: #28a04d; }
  .switch .cmn-toggle:checked + label:after {
    margin-left: 25px; }

.mainUploadWrapper {
  position: relative; }
  .mainUploadWrapper .dragDropWrapper {
    padding: 10px;
    border: 3px dashed #ccc;
    min-height: 180px; }
    .mainUploadWrapper .dragDropWrapper.file-over {
      border-color: #007b86; }
    .mainUploadWrapper .dragDropWrapper > div {
      text-align: center; }
      .mainUploadWrapper .dragDropWrapper > div > span {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 25px);
        vertical-align: middle; }
      .mainUploadWrapper .dragDropWrapper > div i {
        vertical-align: middle;
        cursor: pointer; }
  .mainUploadWrapper .uploadBtn {
    position: relative;
    margin-top: 30px; }
    .mainUploadWrapper .uploadBtn input.btn {
      opacity: 0;
      width: 100%;
      z-index: 100; }
    .mainUploadWrapper .uploadBtn span {
      position: absolute;
      width: 30%;
      margin: auto;
      left: 0;
      right: 0;
      text-align: center;
      top: 0;
      z-index: -1; }

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
autocomplete {
  position: relative; }
  autocomplete .loading {
    background-color: #ffffff;
    background-image: url("../images/1.gif");
    background-size: 20px 20px;
    background-position: right center;
    background-repeat: no-repeat; }
  autocomplete .acDropWrap {
    position: relative; }
    autocomplete .acDropWrap .caret {
      position: absolute;
      top: 50%;
      left: auto;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      right: 15px; }
    autocomplete .acDropWrap .fa-times {
      position: absolute;
      top: 50%;
      left: auto;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      right: 25px;
      color: #E74C3C; }
    autocomplete .acDropWrap div.form-control {
      cursor: pointer;
      padding-right: 35px; }
    autocomplete .acDropWrap .dropdown {
      max-height: 150px;
      overflow-y: auto;
      position: absolute;
      top: 34px;
      left: 0;
      background: #ffffff;
      width: 100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.3); }
      autocomplete .acDropWrap .dropdown input.form-control {
        margin: 10px 15px;
        width: calc(100% - 30px); }
      autocomplete .acDropWrap .dropdown ul {
        padding: 0;
        margin: 0; }
        autocomplete .acDropWrap .dropdown ul li {
          list-style-type: none; }
          autocomplete .acDropWrap .dropdown ul li a {
            color: #333333;
            cursor: pointer;
            display: block;
            padding: 5px 15px;
            -webkit-transition: all 400ms ease-in-out;
            -moz-transition: all 400ms ease-in-out;
            -ms-transition: all 400ms ease-in-out;
            -o-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out; }
            autocomplete .acDropWrap .dropdown ul li a:hover {
              background-color: #007b86;
              color: #ffffff; }

input[type=radio], input[type=checkbox] {
  display: none; }

input[type=radio] + label:before {
  content: "";
  display: block; }

input[type=radio]:checked + label:before {
  content: "";
  /* Bullet */
  background-color: #00545c;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 4px auto 0;
  position: absolute;
  left: 4px;
  z-index: 3;
  top: 3px; }

.checkWrap input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 8px;
  background-color: #00838F;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px; }

.checkWrap input[type=checkbox]:checked + label:before {
  content: "\2714";
  /* Tick */
  color: white;
  background-color: #00545c;
  text-align: center;
  line-height: 15px;
  text-shadow: 0 0 3px #eee; }

.radioWrap label {
  padding-left: 20px;
  position: relative;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  min-height: 15px; }
  .radioWrap label:after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid #00545c;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 3px; }

.radioWrap > div, .checkWrap > div {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle; }
  .radioWrap > div:first-child, .checkWrap > div:first-child {
    margin-left: 0; }

.formSection {
  border-radius: 5px;
  background: #fff;
  padding: 15px 15px 30px;
  border-top: 4px solid #26A69A; }
  .formSection + .formSection {
    margin-top: 20px; }
  .formSection h3 .btn {
    float: right; }
  .formSection h3 span {
    display: inline-block;
    vertical-align: middle; }
  @media only screen and (max-width: 767px) {
    .formSection h3 {
      text-align: center; }
      .formSection h3 span {
        display: block; }
      .formSection h3 .btn {
        float: none;
        margin-top: 15px; } }

.generWithProfile .profilePictureWrap {
  position: relative;
  border-radius: 50%;
  border: 5px solid #ffffff;
  text-align: center;
  overflow: hidden;
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.5); }
  .generWithProfile .profilePictureWrap a {
    display: block; }
    .generWithProfile .profilePictureWrap a img {
      width: 100%; }
  .generWithProfile .profilePictureWrap .overlayImgEdit {
    opacity: 0;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    position: absolute;
    top: 50%;
    left: auto;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center; }
    .generWithProfile .profilePictureWrap .overlayImgEdit i + i {
      margin-left: 10px; }
    .generWithProfile .profilePictureWrap .overlayImgEdit > div {
      position: absolute;
      top: 50%;
      left: 0;
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      font-size: 20px;
      color: #ffffff;
      display: inline-block;
      vertical-align: middle;
      width: 100%; }
    .generWithProfile .profilePictureWrap .overlayImgEdit.visibleOverlay {
      opacity: 1; }
  .generWithProfile .profilePictureWrap:hover .overlayImgEdit {
    opacity: 1; }
.generWithProfile .generForm {
  width: calc(100% - 170px);
  margin-left: 15px;
  display: inline-block;
  vertical-align: top; }
  .generWithProfile .generForm .form-group > label {
    width: 30%; }
  .generWithProfile .generForm .form-group > span {
    padding-left: 15px;
    display: inline-block;
    width: 68%; }
  .generWithProfile .generForm .btn-group {
    padding: 0 15px;
    margin-top: 20px; }
    .generWithProfile .generForm .btn-group .btn + .btn {
      margin-left: 15px; }
@media only screen and (max-width: 767px) {
  .generWithProfile .profilePictureWrap {
    margin: auto;
    display: block; }
  .generWithProfile .generForm {
    display: block;
    width: 100%;
    margin: 0; } }

datetime .form-inline .input-group {
  display: block; }
  datetime .form-inline .input-group .input-group-addon {
    height: 34px;
    width: 38px;
    position: absolute;
    right: 0;
    z-index: 10;
    top: 0; }
    datetime .form-inline .input-group .input-group-addon .glyphicon {
      top: 3px; }
  datetime .form-inline .input-group input {
    padding-right: 43px;
    float: none; }

.studentInfoWrap .generForm > .clearfix {
  margin-left: -15px;
  margin-right: -15px; }
  .studentInfoWrap .generForm > .clearfix:after {
    border-bottom: 1px solid #BAB8B8;
    width: calc(100% - 30px);
    margin: auto; }
  .studentInfoWrap .generForm > .clearfix > [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px; }
.studentInfoWrap .generForm .form-group {
  margin-bottom: 0; }

.searchWithBtn {
  font-size: 0; }
  .searchWithBtn .form-control {
    width: calc(100% - 150px);
    display: inline-block;
    vertical-align: middle;
    border-radius: 0; }
  .searchWithBtn .btn {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    text-align: center; }

html {
  height: 100%; }

body {
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #EDEDED; }

h1 {
  font-family: "Rockwell"; }

h2 {
  font-family: "Rockwell"; }

h3 {
  font-family: "Rockwell"; }

h4 {
  font-family: "Rockwell"; }

h5 {
  font-family: "Rockwell"; }

h6 {
  font-family: "Rockwell"; }

h1 {
  font-weight: 500;
  text-transform: capitalize; }

h2 {
  font-weight: 500;
  text-transform: capitalize; }

h3 {
  font-weight: 500;
  text-transform: capitalize; }

a {
  text-decoration: none;
  color: #00838F; }
  a:hover, a:focus {
    color: inherit;
    text-decoration: none; }

.wrapper100, .main-container .left_col {
  min-height: 100%; }

.mainLogo {
  margin: 20px auto;
  display: block; }

hr {
  border-color: #BAB8B8; }

.main-container {
  min-height: 100%;
  position: relative; }
  .main-container .left_col {
    width: 230px;
    padding: 0;
    position: absolute;
    display: inline-block;
    z-index: 11;
    margin-left: 0;
    padding-top: 57px;
    top: 0;
    bottom: 0;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
  .main-container .top_nav {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
  .main-container .right_col {
    padding: 10px 20px 0;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
  .main-container .internalPushWrapper {
    padding-top: 80px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
  .main-container.collapse {
    display: block; }
    .main-container.collapse .left_col {
      margin-left: -230px; }
    .main-container.collapse .right_col, .main-container.collapse .internalPushWrapper {
      margin-left: 0; }
  .main-container.in .left_col, .main-container.collapsing .left_col {
    margin-left: 0; }
  .main-container.in .right_col, .main-container.in .internalPushWrapper, .main-container.collapsing .right_col, .main-container.collapsing .internalPushWrapper {
    margin-left: 230px; }
  @media only screen and (max-width: 1199px) {
    .main-container.in .internalPushWrapper, .main-container.collapsing .internalPushWrapper {
      margin-left: 0; } }

.img-circle {
  border-radius: 50%; }

.verCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.modal.fade .modal-dialog {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 767px) {
    .modal.fade .modal-dialog {
      min-width: 500px; } }
  @media only screen and (max-width: 480px) {
    .modal.fade .modal-dialog {
      min-width: 320px; } }

.borderWrapper {
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  border-top: 4px solid #26A69A; }

.mainContentWrapper {
  padding: 30px;
  border-radius: 5px; }
  @media only screen and (max-width: 767px) {
    .mainContentWrapper {
      padding: 20px 0; } }

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 5px 0 0; }
  .breadcrumb > li {
    color: #333333;
    font-size: 14px; }
    .breadcrumb > li + li:before {
      padding: 0 2px;
      color: #333333; }
    .breadcrumb > li a {
      font-weight: 700; }
  .breadcrumb > .active {
    color: #333333; }

.pageTitle {
  margin: 20px 0 40px; }
  .pageTitle h2 {
    margin: 0; }

.topSpace {
  margin-top: 40px; }

.bottomSpace {
  margin-bottom: 40px; }

.inlineMiddle, .fixedColumnGrid .form-group label, .fixedColumnGrid .form-group .form-control {
  display: inline-block;
  vertical-align: middle; }

.inlineTop {
  display: inline-block;
  vertical-align: top; }

#main {
  position: relative;
  min-height: 100vh; }

.loginWrapper {
  background: url("../images/mainBg.jpg") no-repeat center center;
  background-size: cover; }
  .loginWrapper form {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    min-width: 450px;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 35px 0 #000000;
    -moz-box-shadow: 0 0 35px 0 #000000;
    box-shadow: 0 0 35px 0 #000000;
    background: rgba(12, 99, 107, 0.3); }
    .loginWrapper form .login-submit a {
      display: block; }
      .loginWrapper form .login-submit a input {
        min-width: 80px;
        height: 40px;
        text-transform: uppercase;
        background-color: #28a04d;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; }
        .loginWrapper form .login-submit a input:hover {
          background-color: #0f8734;
          border: 2px solid #41b966; }

.main-container .left_col .menu_section > ul {
  margin-top: 10px;
  display: block; }
  .main-container .left_col .menu_section > ul.side-menu {
    position: relative;
    display: block;
    cursor: pointer; }
    .main-container .left_col .menu_section > ul.side-menu > li {
      position: relative;
      overflow: hidden; }
      .main-container .left_col .menu_section > ul.side-menu > li .nav.child_menu {
        display: block;
        height: 0;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; }
      .main-container .left_col .menu_section > ul.side-menu > li.active > a {
        text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
        background: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
        color: #00838F; }
        .main-container .left_col .menu_section > ul.side-menu > li.active > a:after {
          color: #00838F;
          margin-top: -5px;
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
      .main-container .left_col .menu_section > ul.side-menu > li.active .nav.child_menu {
        height: auto; }
      .main-container .left_col .menu_section > ul.side-menu > li > a {
        margin-bottom: 0;
        position: relative;
        display: block;
        padding: 7px 15px;
        color: #ffffff;
        font-weight: 500;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; }
        .main-container .left_col .menu_section > ul.side-menu > li > a:hover, .main-container .left_col .menu_section > ul.side-menu > li > a:focus {
          text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
          background: #ffffff;
          box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
          color: #00838F; }
          .main-container .left_col .menu_section > ul.side-menu > li > a:hover:after, .main-container .left_col .menu_section > ul.side-menu > li > a:focus:after {
            color: #00838F; }
        .main-container .left_col .menu_section > ul.side-menu > li > a i {
          font-size: 30px;
          line-height: 27px;
          display: inline-block;
          vertical-align: middle; }
        .main-container .left_col .menu_section > ul.side-menu > li > a span {
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
          margin-top: 3px; }
        .main-container .left_col .menu_section > ul.side-menu > li > a:after {
          content: "\f054";
          font-family: FontAwesome;
          right: 15px;
          color: #ffffff;
          font-size: 13px;
          line-height: normal;
          position: absolute;
          top: 50%;
          left: auto;
          -moz-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
.main-container .left_col .nav_title {
  margin-top: 15px; }
  .main-container .left_col .nav_title a {
    display: block; }
    .main-container .left_col .nav_title a img {
      display: block;
      margin: auto; }

.nav.side-menu > li > a, .nav.child_menu > li > a {
  color: #E7E7E7;
  font-weight: 500; }
.nav.child_menu {
  display: none; }
  .nav.child_menu li {
    padding-left: 36px; }
    .nav.child_menu li:before {
      background: #26A69A;
      bottom: auto;
      content: "";
      height: 8px;
      left: 24px;
      margin-top: 14px;
      position: absolute;
      right: auto;
      width: 8px;
      z-index: 1;
      border-radius: 50%; }
    .nav.child_menu li:after {
      border-left: 1px solid #26A69A;
      bottom: 0;
      content: "";
      left: 27px;
      position: absolute;
      top: 0; }
    .nav.child_menu li:hover, .nav.child_menu li:focus {
      background: rgba(38, 166, 154, 0.3); }
      .nav.child_menu li:hover a, .nav.child_menu li:focus a {
        color: white;
        background: transparent; }
  .nav.child_menu > li a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    padding: 9px; }
    .nav.child_menu > li a:hover, .nav.child_menu > li a:focus {
      background: transparent; }

.nav_menu {
  float: left;
  background: #ffffff;
  border-bottom: 0;
  margin-bottom: 0;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 13px -1px rgba(0, 0, 0, 0.75); }
  .nav_menu .toggle {
    float: left;
    margin: 0;
    padding-top: 16px;
    width: 70px; }
    .nav_menu .toggle a {
      padding: 0 15px;
      margin: 0;
      cursor: pointer;
      color: #007b86; }
      .nav_menu .toggle a:hover, .nav_menu .toggle a:focus {
        color: #007b86; }
      .nav_menu .toggle a i {
        font-size: 26px; }
  .nav_menu .navbar-right {
    margin: 0;
    width: 70%;
    float: right; }
    .nav_menu .navbar-right > li {
      display: inline-block;
      float: right;
      position: relative;
      font-size: 14px;
      color: #ffffff; }
      .nav_menu .navbar-right > li.open .dropdown-menu {
        position: absolute;
        background: #fff;
        margin-top: 0;
        border: 1px solid #D9DEE4;
        -webkit-box-shadow: none;
        right: 0;
        left: auto;
        width: 220px;
        display: block; }
      .nav_menu .navbar-right > li > a {
        color: #007b86;
        font-weight: 500;
        margin-left: 0;
        line-height: 32px;
        position: relative;
        display: block;
        padding: 13px 15px 12px; }
        .nav_menu .navbar-right > li > a.user-profile img {
          width: 29px;
          height: 29px;
          border-radius: 50%;
          margin-right: 10px; }
        .nav_menu .navbar-right > li > a.dropdown-toggle:after {
          content: none; }
        .nav_menu .navbar-right > li > a:hover, .nav_menu .navbar-right > li > a:focus {
          background: transparent; }
      .nav_menu .navbar-right > li .dropdown-menu {
        box-shadow: none;
        display: none;
        float: left;
        font-size: 12px;
        left: 0;
        list-style: none outside none;
        padding: 0;
        position: absolute;
        text-shadow: none;
        top: 100%;
        z-index: 9998;
        border: 1px solid #D9DEE4;
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
        .nav_menu .navbar-right > li .dropdown-menu li {
          display: block;
          font-size: 13px;
          padding: 7px 0; }
          .nav_menu .navbar-right > li .dropdown-menu li a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap; }
      .nav_menu .navbar-right > li .form-group {
        margin-bottom: 0;
        margin-top: 15px; }
        .nav_menu .navbar-right > li .form-group label, .nav_menu .navbar-right > li .form-group .selectWrapper {
          display: inline-block;
          vertical-align: middle; }
        .nav_menu .navbar-right > li .form-group label {
          margin-right: 10px; }
        .nav_menu .navbar-right > li .form-group select {
          width: initial; }
    @media only screen and (max-width: 767px) {
      .nav_menu .navbar-right {
        text-align: center;
        width: calc(100% - 72px); }
        .nav_menu .navbar-right > li .form-group label {
          display: none; }
        .nav_menu .navbar-right > li:last-child {
          float: none; } }
  .nav_menu .navbar-nav {
    display: block; }
  .nav_menu #menu_toggle {
    display: none; }

.classCardsWrapper ul {
  padding: 0;
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap; }
  .classCardsWrapper ul li {
    list-style-type: none;
    min-width: 190px;
    display: inline-block;
    vertical-align: top;
    max-width: 270px;
    margin-bottom: 15px;
    padding: 0 15px;
    width: 25%; }
    .classCardsWrapper ul li > div {
      border: 1px solid #ccc;
      font-size: 14px;
      border-radius: 4px;
      background: #ffffff;
      color: #a19f9f;
      min-height: 100%; }
    .classCardsWrapper ul li a {
      color: #ffffff; }
    .classCardsWrapper ul li h2 {
      background: #26A69A;
      color: #ffffff;
      font-family: "Rockwell";
      margin: 0;
      padding: 15px;
      font-size: 18px;
      font-weight: 400;
      text-transform: capitalize; }
    .classCardsWrapper ul li .classDetails {
      padding: 15px; }
      .classCardsWrapper ul li .classDetails label {
        float: left; }
      .classCardsWrapper ul li .classDetails span {
        float: right; }
    .classCardsWrapper ul li .totalSec {
      padding: 15px 13px;
      border-top: 1px solid #ccc;
      font-size: 12px;
      color: #ffffff; }
      .classCardsWrapper ul li .totalSec span {
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block;
        vertical-align: top;
        border-radius: 4px;
        background: #00618C;
        padding: 5px; }
        .classCardsWrapper ul li .totalSec span:last-child {
          margin: 0; }
        .classCardsWrapper ul li .totalSec span:nth-child(2) {
          background: #E74C3C; }
        .classCardsWrapper ul li .totalSec span:nth-child(3) {
          background: #333333; }
        .classCardsWrapper ul li .totalSec span:nth-child(4) {
          background: #e6b300; }
        .classCardsWrapper ul li .totalSec span:nth-child(5) {
          background: #28a04d; }
        .classCardsWrapper ul li .totalSec span:nth-child(6) {
          background: #1e5f61; }
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .classCardsWrapper ul li {
    min-width: 257px; } }
@media only screen and (max-width: 767px) {
  .classCardsWrapper ul li {
    margin-right: 0;
    min-width: 257px; } }
@media only screen and (max-width: 480px) {
  .classCardsWrapper ul {
    text-align: center; }
    .classCardsWrapper ul li {
      margin-right: 0;
      min-width: 100%;
      width: 100%; } }

.attendanceWrap .switch {
  margin-left: 30px; }

.table-responsive {
  border: 1px solid #3fbfb3;
  border-radius: 4px; }
  .table-responsive table {
    margin: 0; }
    .table-responsive table thead {
      color: #ffffff; }
      .table-responsive table thead th {
        padding: 10px 0 10px 10px;
        font-size: 14px;
        border: 0;
        font-weight: 500; }
        .table-responsive table thead th:nth-child(odd) {
          background: #3fbfb3; }
        .table-responsive table thead th:nth-child(even) {
          background: #26A69A; }
    .table-responsive table > tbody tr:nth-of-type(even) {
      background-color: #333333;
      color: #ffffff; }
    .table-responsive table > tbody tr:nth-of-type(odd) {
      background-color: #ffffff;
      color: #333333; }
    .table-responsive table > tbody td {
      padding: 10px 0 10px 10px;
      font-size: 14px; }
      .table-responsive table > tbody td:last-child {
        text-align: center; }
    .table-responsive table a .fa-trash {
      color: #E74C3C; }
    .table-responsive table a .fa-plus {
      color: #00618C;
      margin-top: 35px; }
    .table-responsive table a:hover .fa-trash {
      color: #d83d2d; }
    .table-responsive table a:hover .fa-plus {
      color: #00527d; }
    .table-responsive table a i {
      font-size: 16px; }
  .table-responsive .attendanceWrap td:last-child {
    text-align: left; }
  .table-responsive .attendanceWrap .radioWrap > div, .table-responsive .attendanceWrap .checkWrap > div {
    margin-left: 15px; }
    .table-responsive .attendanceWrap .radioWrap > div:first-child, .table-responsive .attendanceWrap .checkWrap > div:first-child {
      margin-left: 15px; }

.fixedColumnGrid .form-group label {
  margin-bottom: 0;
  margin-right: 10px; }
.fixedColumnGrid .form-group .form-control {
  width: auto;
  min-width: 150px; }
.fixedColumnGrid .table-responsive {
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border: 0; }
  .fixedColumnGrid .table-responsive .scroller {
    margin-left: 220px;
    overflow-x: auto;
    overflow-y: visible;
    padding-bottom: 5px;
    width: calc(100% - 220px); }
  .fixedColumnGrid .table-responsive thead th {
    text-align: center;
    padding: 5px;
    white-space: nowrap; }
    .fixedColumnGrid .table-responsive thead th span {
      display: block; }
  .fixedColumnGrid .table-responsive .fxGr, .fixedColumnGrid .table-responsive .fxSn {
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 0;
    height: 50px;
    text-transform: capitalize; }
  .fixedColumnGrid .table-responsive .fxGr {
    width: 70px; }
  .fixedColumnGrid .table-responsive .fxSn {
    width: 150px;
    left: 70px; }
  .fixedColumnGrid .table-responsive tbody td {
    padding: 5px;
    height: 30px;
    text-align: center;
    border: 0; }
    .fixedColumnGrid .table-responsive tbody td.fxGr, .fixedColumnGrid .table-responsive tbody td.fxSn {
      height: 31px; }
    .fixedColumnGrid .table-responsive tbody td:last-child {
      text-align: center; }
  .fixedColumnGrid .table-responsive tbody tr:nth-of-type(even) {
    background-color: #ffffff;
    color: #333333; }
    .fixedColumnGrid .table-responsive tbody tr:nth-of-type(even) td.fxGr, .fixedColumnGrid .table-responsive tbody tr:nth-of-type(even) td.fxSn {
      background-color: #333333;
      color: #ffffff; }
  .fixedColumnGrid .table-responsive tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
    color: #333333; }
    .fixedColumnGrid .table-responsive tbody tr:nth-of-type(odd) td.fxGr, .fixedColumnGrid .table-responsive tbody tr:nth-of-type(odd) td.fxSn {
      background-color: #ffffff;
      color: #333333; }

/*# sourceMappingURL=styles.css.map */
