<div class="borderWrapper">
    <div class="pageTitle">
      <h2><span>{{checkFromNavigation() ? 'All Exams' : 'Result'}}</span></h2>
    </div>
    <div [ngBusy]="busy"></div>
    <div class="form-group searchWithBtn">
      <input type="text" class="form-control" (keyup)="searchExams()" [(ngModel)]="query" name="search"
             placeholder="Search Exams">

      <button class="btn btn-primary" (click)="examDetail()" *ngIf="checkFromNavigation()">Add Exam</button>
    </div>
    <div *ngIf="!gridData">No Record Found.</div>
    <div *ngIf="showGrid && gridData.content">
      <app-grid [gridData]="gridData" [gridFor]="'exams'" [onAction]="gridAction"></app-grid>
    </div>
  </div>
