<div [ngBusy]="busy"></div>
<div class="borderWrapper" *ngIf="assignmentDetail">
  <div class="pageTitle">
    <h2><span>{{assignmentDetail.courseName}} <small>{{assignmentDetail.className}}</small></span></h2>
  </div>
  <button #showModal class="btn btn-primary pull-right" data-toggle="modal" data-target="#addAssignment">Edit</button>
  <div class="assignmentDetail">
    <h3>{{assignmentDetail.title}}</h3>
    <hr class="dashedSep">
    <div class="assignDates">
      <div>
        <i class="icon-tag"></i>
        <span><strong>Assigned On:</strong> {{assignmentDetail.assignedAt | date:'fullDate'}}</span>
      </div>
      <div>
        <i class="icon-tag"></i>
        <span><strong>Submission deadline:</strong> {{assignmentDetail.endDate | date:'fullDate'}}</span>
      </div>
      <div>
        <i class="icon-tag"></i>
        <span><strong>Total marks:</strong> {{assignmentDetail.totalMarks}}</span>
      </div>
    </div>
    <h4>Description:</h4>
    <div class="assignmentDesc">{{assignmentDetail.description}}</div>
    <h4>Attached Files:</h4>
    <div class="attachmentWrap">
      <div class="attacment" *ngFor="let attachment of assignmentDetail.attachmentURLs">
        <i class="icon-attachment"></i>
        <span>{{attachment}}</span>
      </div>
    </div>
  </div>
</div>
<edit-modal *ngIf="assignmentDetail" [assignment]="assignmentDetail" (change)="updateAssignment($event)"></edit-modal>
